<div
  class="section pb-20 lg:pt-40 px-8 lg:px-[5vw] 3xl:px-[10vw] flex flex-col gap-y-12"
>
  <h2
    class="animate-presense text-5xl 3xl:text-[5rem] text-dark font-headings uppercase"
  >
    closing remarks
  </h2>
  <p
    class="animate-presense font-paragraphs text-lg w-full lg:w-[50%] 3xl:text-2xl"
  >
    This online study was conducted by LetsStopAIDS among a representative
    sample of 1,090 Canadians 18-24 years who are members of the Angus Reid
    Forum. The sample was balanced and weighted on gender and region. The survey
    was conducted in English and French. For comparison purposes only, a
    randomized sample of n=1,080 would yield a margin of error of +/1 3.1
    percentage points, 19 times out of 20. All sample surveys and polls may be
    subject to other sources of error, including, but not limited to coverage
    error, and measurement error. The Angus Reid Forum is Canada’s most
    well-known and trusted online public opinion community consisting of engaged
    residents across the country who answer surveys on topical issues that
    matter to allCanadians.
  </p>
</div>
