<div
  class="w-full py-20 relative min-h-screen flex justify-center items-center"
>
  <div
    class="section flex flex-col gap-y-16 px-8 lg:px-[5vw] 3xl:px-[10vw] relative z-10"
  >
    <div class="flex flex-col gap-y-8 gap-x-40 lg:flex-row">
      <div class="flex flex-col gap-y-8 lg:max-w-[50%]">
        <h2
          class="animate-presense text-5xl md:text-[5rem] text-floral-white font-headings uppercase leading-tight"
        >
          “How Often Do You Wear A Condom During Sex?”
        </h2>
        <p class="animate-presense font-headings text-2xl text-floral-white">
          Percentage of
          <span class="text-maroon"> “All the time”</span> responses.
        </p>
      </div>
      <div class="flex gap-x-16 pl-4 lg:pl-0">
        <div
          class="arrow bg-maroon h-64 lg:h-full rounded-b-lg w-1 mx-0 my-auto top-0 relative cursor-pointer
        before:content-[''] before:rounded-bl-lg before:bg-maroon before:absolute before:w-1 before:h-6 before:right-2 before:-bottom-[3px] before:-rotate-45
        after:content-[''] after:rounded-br-lg after:bg-maroon after:absolute after:w-1 after:h-6 after:left-2 after:-bottom-[3px] after:rotate-45"
        >
        </div>
        <div
          class="flex flex-col justify-between text-floral-white font-number-headings text-2xl lg:text-[32px]"
        >
          <p class="animate-presense">53% (2020)</p>
          <p class="animate-presense">30% drop in response</p>
          <p class="animate-presense">23% (2023)</p>
        </div>
      </div>
    </div>
    <div
      class="animate-presense flex flex-col gap-y-8 text-floral-white font-paragraphs lg:max-w-[80%] 3xl:max-w-[60%] lg:text-lg 3xl:text-2xl"
    >
      <p>
        In 2023, 33% of sexually active Canadian youth reported they never wore
        a condom during sex in the last 6 months.
      </p>
      <p>
        While the trend to never wear a condom is concerning, there has been a
        general shift over the last year to reduce condom use overall. This is
        most alarming for the dramatic decline in the percentage of youth who
        reported wearing condoms “all the time” during sex, from 53% in 2020 to
        23% in 2023
      </p>
    </div>
  </div>

  <div class="absolute top-0 left-0 h-full w-full bg-[#250101]">
    <img
      src="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,w_auto,q_auto,c_scale/v1/SexLivesReport/ttaq6k3tgh4qfa9q6zum"
      alt="A silhouette of a male figure grasping a condom package, casting a distinct shadow."
      class="object-cover h-full w-full mix-blend-screen opacity-60"
      style={`background-image:
        url(https://res.cloudinary.com/dsvly11gz/image/upload/e_blur:1000,q_1,f_auto,c_scale,w_auto/v1/SexLivesReport/ttaq6k3tgh4qfa9q6zum);`}
      sizes="100vw"
      srcset="
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_640/v1/SexLivesReport/ttaq6k3tgh4qfa9q6zum 640w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_768/v1/SexLivesReport/ttaq6k3tgh4qfa9q6zum 768w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_1024/v1/SexLivesReport/ttaq6k3tgh4qfa9q6zum 1024w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_1536/v1/SexLivesReport/ttaq6k3tgh4qfa9q6zum 1536w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_1920/v1/SexLivesReport/ttaq6k3tgh4qfa9q6zum 1920w"
    />
  </div>
</div>
