---
import MailChimpNotification from "./notification";
---

<div
  class="min-h-screen w-full flex flex-col gap-10 justify-center items-center relative"
>
  <div
    class="section z-10 w-[85%] xl:w-[70%] 3xl:w-[50%] flex flex-col gap-y-12 lg:flex-row lg:gap-x-24 items-center py-10"
  >
    <div>
      <svg
        class="w-[320px] h-[320px] lg:w-[450px] lg:h-[450px] xl:w-[506px] xl:h-[511px]"
        viewBox="0 0 506 511"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M146.777 57.2193H103.015C102.359 42.8122 92.9345 35.6086 74.7409 35.6086C58.8421 35.6086 50.8927 40.7657 50.8927 51.0799C50.8927 55.8278 53.0234 59.2658 57.285 61.3941C60.8909 63.195 72.4463 66.5513 91.951 71.4628C110.472 76.2106 123.913 81.204 132.272 86.443C146.695 95.2837 153.907 108.545 153.907 126.226C153.907 145.545 146.286 160.443 131.042 170.921C117.766 180.09 100.31 184.674 78.6747 184.674C52.4498 184.674 32.4533 178.37 18.6852 165.764C6.55622 154.795 0.327811 139.897 0 121.069H46.2214C47.2048 139.733 58.5962 149.065 80.3957 149.065C98.2614 149.065 107.194 143.089 107.194 131.138C107.194 125.572 104.818 121.479 100.064 118.859C95.475 116.076 83.9196 112.065 65.3983 106.826C42.9433 100.441 27.8639 93.974 20.1604 87.4253C11.1456 79.7305 6.63818 68.5977 6.63818 54.0269C6.63818 36.6728 13.85 23.0023 28.2737 13.0156C40.8944 4.33852 57.0391 0 76.7078 0C100.146 0 118.012 5.64826 130.305 16.9448C140.959 26.7679 146.45 40.1927 146.777 57.2193Z"
          fill="#F6F4EC"></path>
        <path
          d="M318.59 4.42038V42.2392H223.689V71.4628H310.477V107.563H223.689V142.434H320.803V180.253H177.713V4.42038H318.59Z"
          fill="#F6F4EC"></path>
        <path
          d="M499.659 4.42038L443.358 87.6709L505.806 180.253H449.996L428.36 145.136C423.607 137.441 419.427 129.501 415.821 121.315C412.543 128.682 408.118 136.786 402.545 145.627L380.664 180.253H327.558L390.498 87.6709L332.967 4.42038H387.056L404.512 33.3984C409.757 42.0755 414.182 50.5069 417.788 58.6928C421.394 50.5069 425.492 42.7303 430.081 35.363L448.521 4.42038H499.659Z"
          fill="#F6F4EC"></path>
        <path
          d="M92.2367 304.766V333.396H0V206.069H32.9795V304.766H92.2367Z"
          fill="#F6F4EC"></path>
        <path
          d="M141.827 206.069V333.396H108.848V206.069H141.827Z"
          fill="#F6F4EC"></path>
        <path
          d="M271.692 206.069L230.6 333.396H192.682L152.649 206.069H187.215L198.679 243.058C205.145 263.805 209.613 283.011 212.082 300.675C214.786 282.892 219.313 263.746 225.662 243.236L237.125 206.069H271.692Z"
          fill="#F6F4EC"></path>
        <path
          d="M383.68 206.069V233.455H315.605V254.617H377.86V280.758H315.605V306.01H385.267V333.396H282.625V206.069H383.68Z"
          fill="#F6F4EC"></path>
        <path
          d="M500.691 244.303H469.299C468.829 233.87 462.068 228.654 449.017 228.654C437.613 228.654 431.91 232.388 431.91 239.857C431.91 243.295 433.439 245.785 436.496 247.326C439.082 248.63 447.371 251.06 461.363 254.617C474.648 258.055 484.289 261.671 490.286 265.465C500.632 271.867 505.806 281.47 505.806 294.273C505.806 308.263 500.338 319.051 489.404 326.639C479.88 333.278 467.359 336.597 451.839 336.597C433.027 336.597 418.683 332.033 408.807 322.904C400.107 314.961 395.639 304.173 395.404 290.539H428.559C429.265 304.054 437.436 310.812 453.074 310.812C465.889 310.812 472.297 306.485 472.297 297.83C472.297 293.799 470.592 290.835 467.183 288.939C463.89 286.923 455.602 284.019 442.316 280.225C426.208 275.601 415.391 270.918 409.865 266.176C403.399 260.604 400.165 252.542 400.165 241.991C400.165 229.424 405.339 219.525 415.685 212.293C424.738 206.01 436.319 202.868 450.428 202.868C467.241 202.868 480.057 206.958 488.875 215.139C496.517 222.252 500.456 231.973 500.691 244.303Z"
          fill="#F6F4EC"></path>
        <path
          d="M0 356.969H42.3073C51.0164 356.969 57.6482 358.34 62.2025 361.082C69.9529 365.679 73.828 372.656 73.828 382.011C73.828 386.85 72.6295 391.165 70.2325 394.955C67.8355 398.746 64.5995 401.488 60.5246 403.181C64.1201 404.149 66.9965 406.327 69.1539 409.714C70.5921 411.972 71.5509 414.311 72.0303 416.73C72.5896 419.069 73.2288 424.432 73.9479 432.82C74.5072 438.143 75.2263 441.449 76.1052 442.74L76.8243 443.586H53.9328C53.2137 441.893 52.3748 435.844 51.416 425.44C50.7767 420.198 49.3385 416.569 47.1013 414.553C44.8641 412.456 41.2286 411.407 36.1949 411.407H22.4121V443.586H0V356.969ZM22.4121 374.752V395.197H38.2324C47.2611 395.197 51.7755 391.729 51.7755 384.793C51.7755 378.099 47.1812 374.752 37.9927 374.752H22.4121Z"
          fill="#F6F4EC"></path>
        <path
          d="M158.685 356.969V375.599H112.423V389.995H154.73V407.778H112.423V424.956H159.764V443.586H90.0107V356.969H158.685Z"
          fill="#F6F4EC"></path>
        <path
          d="M172.525 356.969H207.881C219.227 356.969 227.417 358.703 232.45 362.171C240.281 367.494 244.196 375.559 244.196 386.366C244.196 395.157 241.24 402.254 235.327 407.657C230.213 412.335 222.663 414.674 212.675 414.674H194.937V443.586H172.525V356.969ZM194.937 375.599V396.891H209.679C218.148 396.891 222.383 393.342 222.383 386.245C222.383 379.309 217.869 375.801 208.84 375.72L194.937 375.599Z"
          fill="#F6F4EC"></path>
        <path
          d="M294.225 354.792C307.568 354.792 318.195 359.55 326.105 369.067C332.897 377.373 336.293 387.777 336.293 400.278C336.293 414.714 331.898 426.166 323.109 434.634C315.439 442.054 305.811 445.764 294.225 445.764C280.642 445.764 269.855 441.006 261.865 431.489C254.994 423.263 251.558 412.859 251.558 400.278C251.558 385.842 255.793 374.551 264.262 366.405C272.412 358.663 282.4 354.792 294.225 354.792ZM294.105 373.422C287.633 373.422 282.6 376.164 279.004 381.648C275.888 386.326 274.33 392.495 274.33 400.157C274.33 409.109 276.327 416.004 280.322 420.843C283.838 425.037 288.472 427.134 294.225 427.134C300.297 427.134 305.052 424.755 308.487 419.997C311.923 415.158 313.641 408.423 313.641 399.794C313.641 391.003 311.643 384.269 307.648 379.591C304.213 375.478 299.698 373.422 294.105 373.422Z"
          fill="#F6F4EC"></path>
        <path
          d="M348.199 356.969H390.506C399.215 356.969 405.847 358.34 410.402 361.082C418.152 365.679 422.027 372.656 422.027 382.011C422.027 386.85 420.829 391.165 418.432 394.955C416.035 398.746 412.799 401.488 408.724 403.181C412.319 404.149 415.196 406.327 417.353 409.714C418.791 411.972 419.75 414.311 420.229 416.73C420.789 419.069 421.428 424.432 422.147 432.82C422.706 438.143 423.425 441.449 424.304 442.74L425.023 443.586H402.132C401.413 441.893 400.574 435.844 399.615 425.44C398.976 420.198 397.538 416.569 395.3 414.553C393.063 412.456 389.428 411.407 384.394 411.407H370.611V443.586H348.199V356.969ZM370.611 374.752V395.197H386.431C395.46 395.197 399.975 391.729 399.975 384.793C399.975 378.099 395.38 374.752 386.192 374.752H370.611Z"
          fill="#F6F4EC"></path>
        <path
          d="M505.806 356.969V376.446H480.157V443.586H457.865V376.446H432.337V356.969H505.806Z"
          fill="#F6F4EC"></path>
        <path
          d="M8.85321 505.93C8.33945 505.337 7.9052 504.857 7.55046 504.49C7.19572 504.122 6.89602 503.844 6.65138 503.654C6.3945 503.465 6.16208 503.334 5.95413 503.263C5.73394 503.192 5.50764 503.157 5.27523 503.157C4.95719 503.157 4.67584 503.234 4.43119 503.388C4.18654 503.53 4.00306 503.731 3.88073 503.992C3.74618 504.253 3.6789 504.555 3.6789 504.899C3.6789 505.207 3.74006 505.497 3.86239 505.77C3.98471 506.042 4.19266 506.309 4.48624 506.569C4.77982 506.818 5.17125 507.073 5.66055 507.334C5.73395 507.381 5.78287 507.452 5.80734 507.547C5.81957 507.63 5.78899 507.737 5.7156 507.867L4.74312 509.733C4.68196 509.864 4.59021 509.941 4.46789 509.964C4.33333 509.976 4.21101 509.947 4.10092 509.876C3.0367 509.236 2.25994 508.495 1.77064 507.654C1.26911 506.801 1.01835 505.817 1.01835 504.703C1.01835 503.684 1.19572 502.801 1.55046 502.055C1.89297 501.296 2.38226 500.71 3.01835 500.295C3.65443 499.88 4.40061 499.673 5.25688 499.673C5.73394 499.673 6.18654 499.75 6.61468 499.904C7.04281 500.058 7.46483 500.313 7.88073 500.668C8.2844 501.024 8.71254 501.504 9.16514 502.108L11.5688 505.307C11.6177 505.39 11.6667 505.432 11.7156 505.432C11.7645 505.42 11.789 505.343 11.789 505.201L11.789 499.922C11.789 499.673 11.893 499.548 12.1009 499.548L14.4495 499.548C14.5474 499.548 14.633 499.578 14.7064 499.637C14.7798 499.696 14.8165 499.797 14.8165 499.939L14.8165 509.556C14.8165 509.722 14.792 509.84 14.7431 509.911C14.682 509.97 14.5657 510 14.3945 510L12.7798 510C12.7064 510 12.6391 509.988 12.578 509.964C12.5046 509.929 12.4006 509.846 12.2661 509.716C12.1193 509.573 11.9174 509.354 11.6606 509.058L8.85321 505.93Z"
          fill="#F6F4EC"></path>
        <path
          d="M0.999999 492.489C0.999999 491.671 1.17125 490.918 1.51376 490.231C1.85627 489.532 2.34556 488.934 2.98165 488.436C3.6055 487.926 4.34556 487.529 5.20183 487.245C6.0581 486.961 7.00611 486.818 8.04587 486.818C9.42813 486.818 10.6391 487.061 11.6789 487.547C12.7064 488.033 13.5138 488.702 14.1009 489.556C14.6758 490.409 14.9633 491.386 14.9633 492.489C14.9633 493.602 14.6758 494.592 14.1009 495.457C13.5138 496.322 12.7064 496.997 11.6789 497.483C10.6391 497.957 9.42813 498.194 8.04587 498.194C7.00612 498.194 6.0581 498.058 5.20183 497.785C4.34557 497.501 3.6055 497.104 2.98165 496.595C2.34556 496.073 1.85627 495.469 1.51376 494.781C1.17125 494.082 0.999999 493.318 0.999999 492.489ZM12.3945 492.506C12.3945 492.032 12.2538 491.647 11.9725 491.351C11.6789 491.043 11.2202 490.818 10.5963 490.676C9.96024 490.533 9.11621 490.462 8.06422 490.462C6.97553 490.462 6.10092 490.539 5.44037 490.693C4.77982 490.835 4.30275 491.061 4.00917 491.369C3.70336 491.665 3.55046 492.044 3.55046 492.506C3.55046 492.98 3.70336 493.371 4.00917 493.679C4.30275 493.976 4.78593 494.195 5.45871 494.337C6.11926 494.479 6.98777 494.55 8.06422 494.55C9.10397 494.55 9.9419 494.479 10.578 494.337C11.2141 494.195 11.6789 493.97 11.9725 493.662C12.2538 493.354 12.3945 492.968 12.3945 492.506Z"
          fill="#F6F4EC"></path>
        <path
          d="M8.85321 481.489C8.33945 480.897 7.9052 480.417 7.55046 480.049C7.19572 479.682 6.89602 479.403 6.65137 479.214C6.39449 479.024 6.16208 478.894 5.95413 478.823C5.73394 478.752 5.50764 478.716 5.27523 478.716C4.95719 478.716 4.67584 478.793 4.43119 478.947C4.18654 479.089 4.00306 479.291 3.88073 479.552C3.74618 479.812 3.6789 480.114 3.6789 480.458C3.6789 480.766 3.74006 481.057 3.86238 481.329C3.98471 481.602 4.19266 481.868 4.48624 482.129C4.77981 482.378 5.17125 482.633 5.66055 482.893C5.73394 482.941 5.78287 483.012 5.80734 483.107C5.81957 483.19 5.78899 483.296 5.7156 483.427L4.74312 485.293C4.68196 485.423 4.59021 485.5 4.46789 485.524C4.33333 485.536 4.21101 485.506 4.10092 485.435C3.0367 484.795 2.25994 484.055 1.77064 483.213C1.26911 482.36 1.01835 481.377 1.01835 480.263C1.01835 479.244 1.19572 478.361 1.55046 477.614C1.89296 476.856 2.38226 476.269 3.01835 475.854C3.65443 475.44 4.40061 475.232 5.25688 475.232C5.73394 475.232 6.18654 475.309 6.61468 475.463C7.04281 475.617 7.46483 475.872 7.88073 476.228C8.2844 476.583 8.71254 477.063 9.16514 477.667L11.5688 480.867C11.6177 480.95 11.6667 480.991 11.7156 480.991C11.7645 480.98 11.789 480.903 11.789 480.76L11.789 475.481C11.789 475.232 11.893 475.108 12.1009 475.108L14.4495 475.108C14.5474 475.108 14.633 475.138 14.7064 475.197C14.7798 475.256 14.8165 475.357 14.8165 475.499L14.8165 485.115C14.8165 485.281 14.792 485.4 14.7431 485.471C14.682 485.53 14.5657 485.56 14.3945 485.56L12.7798 485.56C12.7064 485.56 12.6391 485.548 12.578 485.524C12.5046 485.488 12.4006 485.405 12.2661 485.275C12.1193 485.133 11.9174 484.914 11.6606 484.617L8.85321 481.489Z"
          fill="#F6F4EC"></path>
        <path
          d="M3.40367 473.327C3.28134 473.446 3.13455 473.446 2.9633 473.327C2.57186 473.031 2.23547 472.634 1.95413 472.136C1.66055 471.639 1.43425 471.082 1.27523 470.465C1.10397 469.849 1.01835 469.215 1.01835 468.564C1.01835 467.485 1.17125 466.567 1.47706 465.808C1.77064 465.038 2.18654 464.446 2.72477 464.031C3.26299 463.616 3.89296 463.409 4.61468 463.409C5.16514 463.409 5.70336 463.587 6.22936 463.942C6.75535 464.286 7.12844 464.789 7.34862 465.453C7.39755 465.583 7.45871 465.654 7.53211 465.666C7.6055 465.666 7.66667 465.601 7.71559 465.471C7.87462 464.973 8.11315 464.54 8.43119 464.173C8.737 463.806 9.09174 463.521 9.49541 463.32C9.89908 463.107 10.3394 463 10.8165 463C11.7217 463 12.4862 463.219 13.1101 463.658C13.7339 464.084 14.2049 464.724 14.5229 465.577C14.841 466.431 15 467.497 15 468.777C15 469.476 14.9021 470.157 14.7064 470.821C14.4985 471.473 14.2171 472.065 13.8624 472.598C13.5076 473.12 13.0979 473.546 12.633 473.878C12.5107 473.949 12.3945 473.973 12.2844 473.949C12.1743 473.926 12.0826 473.86 12.0092 473.754L10.8532 472.154C10.7798 472.036 10.7492 471.947 10.7615 471.887C10.7615 471.816 10.7859 471.757 10.8349 471.71C11.2141 471.342 11.5199 471.005 11.7523 470.697C11.9847 470.388 12.156 470.068 12.2661 469.737C12.3761 469.405 12.4312 469.02 12.4312 468.581C12.4312 467.93 12.2905 467.426 12.0092 467.07C11.7156 466.715 11.3425 466.537 10.8899 466.537C10.5352 466.537 10.2355 466.632 9.99082 466.822C9.73394 466.999 9.53211 467.254 9.38532 467.586C9.23853 467.918 9.15902 468.291 9.14679 468.706L9.12844 470.217C9.12844 470.442 9.03058 470.554 8.83486 470.554L6.85321 470.554C6.69419 470.554 6.59633 470.442 6.55963 470.217L6.50459 469.008C6.48012 468.581 6.39449 468.214 6.24771 467.906C6.10092 467.598 5.91131 467.355 5.6789 467.177C5.43425 466.999 5.15902 466.91 4.85321 466.91C4.60856 466.91 4.38838 466.987 4.19266 467.142C3.98471 467.296 3.82569 467.503 3.71559 467.764C3.59327 468.013 3.53211 468.297 3.53211 468.617C3.53211 469.15 3.63608 469.63 3.84403 470.057C4.03975 470.483 4.37614 470.934 4.85321 471.408C4.93884 471.49 4.98165 471.562 4.98165 471.621C4.98165 471.668 4.94495 471.733 4.87156 471.816L3.40367 473.327Z"
          fill="#F6F4EC"></path>
        <path
          d="M42.7229 463.436V467.331H37.6533V480.759H33.2471V467.331H28.2012V463.436H42.7229Z"
          fill="white"></path>
        <path
          d="M59.3398 463.436V480.759H54.9098V473.597H49.1532V480.759H44.7232V463.436H49.1532V469.702H54.9098V463.436H59.3398Z"
          fill="white"></path>
        <path
          d="M76.0184 463.436V467.161H66.8742V470.041H75.2366V473.597H66.8742V477.033H76.2316V480.759H62.4442V463.436H76.0184Z"
          fill="white"></path>
        <path d="M87.5332 463.436V480.759H83.1033V463.436H87.5332Z" fill="white"
        ></path>
        <path
          d="M109.621 463.436V480.759H105.427V476.864C105.427 474.363 105.499 471.267 105.641 467.573C105.041 470.17 104.432 472.46 103.817 474.444L101.85 480.759H98.4627L96.4727 474.613C95.8884 472.823 95.2725 470.476 94.625 467.573C94.7671 470.863 94.8382 473.767 94.8382 476.283V480.759H90.6451V463.436H96.9939L98.818 469.46C99.355 471.218 99.813 473.226 100.192 475.484C100.713 472.904 101.195 470.863 101.637 469.363L103.366 463.436H109.621Z"
          fill="white"></path>
        <path
          d="M112.715 463.436H119.704C121.946 463.436 123.565 463.782 124.56 464.476C126.108 465.54 126.882 467.153 126.882 469.315C126.882 471.073 126.297 472.492 125.129 473.573C124.118 474.509 122.626 474.976 120.651 474.976H117.145V480.759H112.715V463.436ZM117.145 467.161V471.42H120.059C121.733 471.42 122.57 470.71 122.57 469.291C122.57 467.903 121.678 467.202 119.893 467.186L117.145 467.161Z"
          fill="white"></path>
        <path
          d="M138.263 463.436L144.612 480.759H140.016L138.926 477.589H133.051L131.962 480.759H127.413L133.762 463.436H138.263ZM137.908 474.347L137.102 472C136.628 470.581 136.265 469.283 136.012 468.105C135.697 469.363 135.31 470.678 134.852 472.049L134.07 474.347H137.908Z"
          fill="white"></path>
        <path
          d="M161.616 474.009C161.505 475.815 160.897 477.372 159.792 478.678C158.386 480.356 156.38 481.194 153.774 481.194C150.995 481.194 148.839 480.211 147.307 478.243C145.996 476.581 145.341 474.525 145.341 472.073C145.341 469.541 146.091 467.412 147.591 465.686C149.155 463.895 151.263 463 153.916 463C156.128 463 157.967 463.702 159.436 465.105C160.7 466.315 161.387 467.799 161.497 469.557H157.186C157.012 468.766 156.743 468.17 156.38 467.766C155.764 467.073 154.919 466.726 153.845 466.726C152.519 466.726 151.492 467.266 150.766 468.347C150.15 469.299 149.842 470.549 149.842 472.097C149.842 473.888 150.237 475.259 151.026 476.21C151.721 477.049 152.645 477.468 153.798 477.468C154.983 477.468 155.883 477.025 156.499 476.138C156.83 475.654 157.059 474.944 157.186 474.009H161.616Z"
          fill="white"></path>
        <path
          d="M177.111 463.436V467.331H172.041V480.759H167.635V467.331H162.589V463.436H177.111Z"
          fill="white"></path>
        <path
          d="M191.16 463C193.797 463 195.898 463.952 197.461 465.855C198.803 467.516 199.475 469.597 199.475 472.097C199.475 474.984 198.606 477.275 196.869 478.969C195.353 480.452 193.45 481.194 191.16 481.194C188.475 481.194 186.343 480.243 184.763 478.339C183.405 476.694 182.726 474.613 182.726 472.097C182.726 469.21 183.563 466.952 185.237 465.323C186.848 463.774 188.822 463 191.16 463ZM191.136 466.726C189.857 466.726 188.862 467.274 188.151 468.371C187.535 469.307 187.227 470.541 187.227 472.073C187.227 473.863 187.622 475.243 188.412 476.21C189.106 477.049 190.022 477.468 191.16 477.468C192.36 477.468 193.3 476.993 193.979 476.041C194.658 475.073 194.997 473.726 194.997 472C194.997 470.242 194.602 468.895 193.813 467.96C193.134 467.137 192.241 466.726 191.136 466.726Z"
          fill="white"></path>
        <path
          d="M214.407 463.436V467.161H206.305V470.549H213.318V474.081H206.305V480.759H201.875V463.436H214.407Z"
          fill="white"></path>
        <path
          d="M233.735 468.637H229.518C229.455 467.218 228.547 466.508 226.794 466.508C225.262 466.508 224.496 467.016 224.496 468.033C224.496 468.5 224.701 468.839 225.112 469.049C225.46 469.226 226.573 469.557 228.452 470.041C230.237 470.508 231.532 471 232.337 471.517C233.727 472.388 234.422 473.694 234.422 475.436C234.422 477.339 233.688 478.807 232.219 479.84C230.94 480.743 229.258 481.194 227.173 481.194C224.646 481.194 222.719 480.573 221.393 479.331C220.224 478.251 219.624 476.783 219.592 474.928H224.046C224.141 476.767 225.238 477.686 227.339 477.686C229.06 477.686 229.921 477.097 229.921 475.92C229.921 475.372 229.692 474.968 229.234 474.71C228.792 474.436 227.678 474.041 225.894 473.525C223.73 472.896 222.277 472.259 221.535 471.613C220.666 470.855 220.232 469.758 220.232 468.323C220.232 466.613 220.927 465.266 222.317 464.282C223.533 463.427 225.088 463 226.984 463C229.242 463 230.963 463.556 232.148 464.669C233.174 465.637 233.704 466.96 233.735 468.637Z"
          fill="white"></path>
        <path
          d="M250.29 463.436V467.161H241.146V470.041H249.508V473.597H241.146V477.033H250.503V480.759H236.716V463.436H250.29Z"
          fill="white"></path>
        <path
          d="M267.737 463.436L262.312 471.638L268.329 480.759H262.952L260.867 477.299C260.409 476.541 260.006 475.759 259.659 474.952C259.343 475.678 258.917 476.476 258.38 477.347L256.271 480.759H251.154L257.219 471.638L251.675 463.436H256.887L258.569 466.29C259.074 467.145 259.501 467.976 259.848 468.783C260.196 467.976 260.591 467.21 261.033 466.484L262.81 463.436H267.737Z"
          fill="white"></path>
        <path d="M274.777 473.017V476.138H268.926V473.017H274.777Z" fill="white"
        ></path>
        <path
          d="M290.798 463.436V467.161H281.654V470.041H290.017V473.597H281.654V477.033H291.012V480.759H277.224V463.436H290.798Z"
          fill="white"></path>
        <path
          d="M293.534 463.436H300.783C303.263 463.436 305.197 464.081 306.587 465.371C308.309 466.952 309.169 469.154 309.169 471.976C309.169 474.896 308.364 477.154 306.753 478.751C305.411 480.09 303.413 480.759 300.759 480.759H293.534V463.436ZM297.964 467.161V477.033H300.404C301.794 477.033 302.82 476.67 303.484 475.944C304.273 475.057 304.668 473.783 304.668 472.121C304.668 470.234 304.123 468.863 303.034 468.008C302.291 467.444 301.312 467.161 300.096 467.161H297.964Z"
          fill="white"></path>
        <path
          d="M323.581 463C326.219 463 328.319 463.952 329.883 465.855C331.225 467.516 331.896 469.597 331.896 472.097C331.896 474.984 331.028 477.275 329.29 478.969C327.774 480.452 325.871 481.194 323.581 481.194C320.896 481.194 318.764 480.243 317.185 478.339C315.827 476.694 315.148 474.613 315.148 472.097C315.148 469.21 315.985 466.952 317.659 465.323C319.27 463.774 321.244 463 323.581 463ZM323.557 466.726C322.278 466.726 321.283 467.274 320.573 468.371C319.957 469.307 319.649 470.541 319.649 472.073C319.649 473.863 320.043 475.243 320.833 476.21C321.528 477.049 322.444 477.468 323.581 477.468C324.781 477.468 325.721 476.993 326.4 476.041C327.079 475.073 327.419 473.726 327.419 472C327.419 470.242 327.024 468.895 326.234 467.96C325.555 467.137 324.663 466.726 323.557 466.726Z"
          fill="white"></path>
        <path
          d="M349.008 463.436V480.759H344.697L340.125 472.896L339.153 471.129C338.98 470.839 338.743 470.347 338.443 469.654C338.553 470.928 338.608 472.396 338.608 474.057V480.759H334.297V463.436H338.774L342.991 470.767C343.812 472.218 344.444 473.428 344.886 474.396C344.76 472.702 344.697 471.21 344.697 469.92V463.436H349.008Z"
          fill="white"></path>
        <path
          d="M369.798 463.436V467.331H364.728V480.759H360.322V467.331H355.276V463.436H369.798Z"
          fill="white"></path>
        <path
          d="M386.414 463.436V480.759H381.984V473.597H376.228V480.759H371.798V463.436H376.228V469.702H381.984V463.436H386.414Z"
          fill="white"></path>
        <path
          d="M403.093 463.436V467.161H393.949V470.041H402.311V473.597H393.949V477.033H403.306V480.759H389.519V463.436H403.093Z"
          fill="white"></path>
        <path
          d="M423.16 468.637H418.943C418.88 467.218 417.972 466.508 416.219 466.508C414.687 466.508 413.921 467.016 413.921 468.033C413.921 468.5 414.126 468.839 414.537 469.049C414.884 469.226 415.998 469.557 417.877 470.041C419.662 470.508 420.957 471 421.762 471.517C423.152 472.388 423.847 473.694 423.847 475.436C423.847 477.339 423.112 478.807 421.644 479.84C420.365 480.743 418.683 481.194 416.598 481.194C414.071 481.194 412.144 480.573 410.818 479.331C409.649 478.251 409.049 476.783 409.017 474.928H413.471C413.566 476.767 414.663 477.686 416.764 477.686C418.485 477.686 419.346 477.097 419.346 475.92C419.346 475.372 419.117 474.968 418.659 474.71C418.217 474.436 417.103 474.041 415.319 473.525C413.155 472.896 411.702 472.259 410.96 471.613C410.091 470.855 409.657 469.758 409.657 468.323C409.657 466.613 410.352 465.266 411.741 464.282C412.958 463.427 414.513 463 416.408 463C418.667 463 420.388 463.556 421.573 464.669C422.599 465.637 423.128 466.96 423.16 468.637Z"
          fill="white"></path>
        <path
          d="M439.715 463.436V467.161H430.571V470.041H438.933V473.597H430.571V477.033H439.928V480.759H426.141V463.436H439.715Z"
          fill="white"></path>
        <path
          d="M457.162 463.436L451.737 471.638L457.754 480.759H452.376L450.292 477.299C449.834 476.541 449.431 475.759 449.084 474.952C448.768 475.678 448.341 476.476 447.804 477.347L445.696 480.759H440.579L446.644 471.638L441.1 463.436H446.312L447.994 466.29C448.499 467.145 448.926 467.976 449.273 468.783C449.621 467.976 450.015 467.21 450.458 466.484L452.234 463.436H457.162Z"
          fill="white"></path>
        <path
          d="M473.536 463.436V473.742C473.536 476.049 473.07 477.775 472.138 478.92C470.906 480.436 468.916 481.194 466.168 481.194C463.247 481.194 461.17 480.34 459.938 478.63C459.164 477.549 458.777 475.904 458.777 473.694V463.436H463.207V474.033C463.207 475.243 463.444 476.122 463.918 476.67C464.408 477.202 465.189 477.468 466.263 477.468C467.258 477.468 467.985 477.202 468.443 476.67C468.901 476.122 469.13 475.243 469.13 474.033V463.436H473.536Z"
          fill="white"></path>
        <path
          d="M485.603 463.436L491.952 480.759H487.356L486.267 477.589H480.392L479.302 480.759H474.754L481.102 463.436H485.603ZM485.248 474.347L484.443 472C483.969 470.581 483.606 469.283 483.353 468.105C483.037 469.363 482.65 470.678 482.192 472.049L481.41 474.347H485.248Z"
          fill="white"></path>
        <path
          d="M505.805 476.864V480.759H493.416V463.436H497.846V476.864H505.805Z"
          fill="white"></path>
        <path
          d="M28.2012 490.68H37.4138C39.2884 490.68 40.7078 490.92 41.6719 491.399C43.3145 492.215 44.1357 493.573 44.1357 495.471C44.1357 497.192 43.2966 498.478 41.6183 499.33C42.3682 499.596 42.9217 499.871 43.2788 500.155C44.4571 501.042 45.0463 502.337 45.0463 504.041C45.0463 506.152 44.1893 507.722 42.4753 508.752C41.3862 509.408 39.8955 509.736 38.0029 509.736H28.2012V490.68ZM33.2092 494.486V498.186H36.771C38.4314 498.186 39.2616 497.574 39.2616 496.349C39.2616 495.107 38.3868 494.486 36.6371 494.486H33.2092ZM33.2092 501.433V505.824H37.146C39.0385 505.824 39.9847 505.097 39.9847 503.642C39.9847 502.169 39.0028 501.433 37.0388 501.433H33.2092Z"
          fill="white"></path>
        <path
          d="M63.1091 490.68V494.779H52.7717V497.946H62.2253V501.858H52.7717V505.638H63.3501V509.736H47.7637V490.68H63.1091Z"
          fill="white"></path>
        <path
          d="M82.7254 490.68V509.736H77.7174V501.858H71.2097V509.736H66.2016V490.68H71.2097V497.574H77.7174V490.68H82.7254Z"
          fill="white"></path>
        <path
          d="M96.6259 490.68L103.803 509.736H98.6077L97.3757 506.25H90.7341L89.5022 509.736H84.3603L91.5375 490.68H96.6259ZM96.2242 502.683L95.3136 500.102C94.778 498.541 94.3674 497.112 94.0817 495.817C93.7246 497.201 93.2872 498.647 92.7694 500.155L91.8857 502.683H96.2242Z"
          fill="white"></path>
        <path
          d="M121.66 490.68L115.42 509.736H109.662L103.583 490.68H108.832L110.573 496.216C111.555 499.321 112.233 502.196 112.608 504.839C113.019 502.178 113.706 499.312 114.67 496.243L116.411 490.68H121.66Z"
          fill="white"></path>
        <path d="M128.328 490.68V509.736H123.32V490.68H128.328Z" fill="white"
        ></path>
        <path
          d="M140.55 490.201C143.531 490.201 145.906 491.248 147.673 493.342C149.191 495.169 149.95 497.458 149.95 500.208C149.95 503.384 148.968 505.904 147.004 507.767C145.29 509.399 143.139 510.215 140.55 510.215C137.515 510.215 135.104 509.168 133.319 507.075C131.783 505.265 131.016 502.976 131.016 500.208C131.016 497.032 131.962 494.548 133.855 492.756C135.676 491.053 137.907 490.201 140.55 490.201ZM140.523 494.3C139.077 494.3 137.952 494.903 137.149 496.11C136.452 497.139 136.104 498.496 136.104 500.182C136.104 502.151 136.55 503.668 137.443 504.733C138.229 505.655 139.264 506.117 140.55 506.117C141.907 506.117 142.969 505.593 143.737 504.546C144.504 503.482 144.888 502 144.888 500.102C144.888 498.168 144.442 496.686 143.549 495.657C142.781 494.752 141.773 494.3 140.523 494.3Z"
          fill="white"></path>
        <path
          d="M169.054 490.68V502.018C169.054 504.555 168.527 506.454 167.474 507.714C166.081 509.381 163.831 510.215 160.725 510.215C157.422 510.215 155.074 509.275 153.682 507.394C152.807 506.205 152.369 504.396 152.369 501.965V490.68H157.377V502.337C157.377 503.668 157.645 504.635 158.181 505.238C158.734 505.824 159.618 506.117 160.832 506.117C161.957 506.117 162.778 505.824 163.296 505.238C163.814 504.635 164.072 503.668 164.072 502.337V490.68H169.054Z"
          fill="white"></path>
        <path
          d="M172.251 490.68H181.705C183.651 490.68 185.133 490.982 186.15 491.585C187.882 492.597 188.748 494.131 188.748 496.19C188.748 497.254 188.48 498.203 187.945 499.037C187.409 499.871 186.686 500.475 185.776 500.847C186.579 501.06 187.222 501.539 187.704 502.284C188.025 502.781 188.239 503.296 188.347 503.828C188.471 504.342 188.614 505.522 188.775 507.368C188.9 508.539 189.061 509.266 189.257 509.55L189.418 509.736H184.303C184.142 509.364 183.954 508.033 183.74 505.744C183.597 504.591 183.276 503.792 182.776 503.349C182.276 502.888 181.464 502.657 180.339 502.657H177.259V509.736H172.251V490.68ZM177.259 494.593V499.091H180.794C182.812 499.091 183.821 498.328 183.821 496.802C183.821 495.329 182.794 494.593 180.741 494.593H177.259Z"
          fill="white"></path>
        <path
          d="M205.985 490.201C208.966 490.201 211.341 491.248 213.108 493.342C214.626 495.169 215.385 497.458 215.385 500.208C215.385 503.384 214.403 505.904 212.439 507.767C210.725 509.399 208.574 510.215 205.985 510.215C202.95 510.215 200.539 509.168 198.754 507.075C197.219 505.265 196.451 502.976 196.451 500.208C196.451 497.032 197.397 494.548 199.29 492.756C201.111 491.053 203.342 490.201 205.985 490.201ZM205.958 494.3C204.512 494.3 203.387 494.903 202.584 496.11C201.887 497.139 201.539 498.496 201.539 500.182C201.539 502.151 201.986 503.668 202.878 504.733C203.664 505.655 204.699 506.117 205.985 506.117C207.342 506.117 208.404 505.593 209.172 504.546C209.939 503.482 210.323 502 210.323 500.102C210.323 498.168 209.877 496.686 208.984 495.657C208.217 494.752 207.208 494.3 205.958 494.3Z"
          fill="white"></path>
        <path
          d="M232.266 490.68V494.779H223.107V498.505H231.034V502.391H223.107V509.736H218.099V490.68H232.266Z"
          fill="white"></path>
        <path
          d="M256.151 490.68L249.081 502.577V509.736H244.073V502.577L237.03 490.68H242.707L244.93 494.726C245.537 495.826 246.099 497.05 246.617 498.399C247.242 496.819 247.849 495.498 248.438 494.433L250.554 490.68H256.151Z"
          fill="white"></path>
        <path
          d="M265.954 490.201C268.935 490.201 271.31 491.248 273.078 493.342C274.595 495.169 275.354 497.458 275.354 500.208C275.354 503.384 274.372 505.904 272.408 507.767C270.694 509.399 268.543 510.215 265.954 510.215C262.919 510.215 260.508 509.168 258.723 507.075C257.188 505.265 256.42 502.976 256.42 500.208C256.42 497.032 257.366 494.548 259.259 492.756C261.08 491.053 263.312 490.201 265.954 490.201ZM265.927 494.3C264.481 494.3 263.356 494.903 262.553 496.11C261.856 497.139 261.508 498.496 261.508 500.182C261.508 502.151 261.955 503.668 262.847 504.733C263.633 505.655 264.668 506.117 265.954 506.117C267.311 506.117 268.373 505.593 269.141 504.546C269.909 503.482 270.292 502 270.292 500.102C270.292 498.168 269.846 496.686 268.953 495.657C268.186 494.752 267.177 494.3 265.927 494.3Z"
          fill="white"></path>
        <path
          d="M294.458 490.68V502.018C294.458 504.555 293.931 506.454 292.878 507.714C291.485 509.381 289.236 510.215 286.129 510.215C282.826 510.215 280.478 509.275 279.086 507.394C278.211 506.205 277.773 504.396 277.773 501.965V490.68H282.781V502.337C282.781 503.668 283.049 504.635 283.585 505.238C284.138 505.824 285.022 506.117 286.236 506.117C287.361 506.117 288.182 505.824 288.7 505.238C289.218 504.635 289.477 503.668 289.477 502.337V490.68H294.458Z"
          fill="white"></path>
        <path
          d="M314.34 490.68V509.736H309.466L304.297 501.087L303.199 499.144C303.003 498.824 302.735 498.283 302.396 497.52C302.521 498.922 302.583 500.537 302.583 502.364V509.736H297.709V490.68H302.771L307.538 498.745C308.466 500.341 309.18 501.672 309.68 502.737C309.537 500.874 309.466 499.233 309.466 497.813V490.68H314.34Z"
          fill="white"></path>
        <path
          d="M335.443 499.383V509.736H332.229C332.05 508.92 331.961 508.335 331.961 507.98C331.961 507.944 331.961 507.9 331.961 507.847C331.961 507.776 331.961 507.714 331.961 507.66C330.604 509.364 328.685 510.215 326.203 510.215C323.257 510.215 320.927 509.177 319.213 507.101C317.731 505.292 316.991 503.012 316.991 500.262C316.991 497.068 318.008 494.531 320.044 492.65C321.811 491.018 324.034 490.201 326.712 490.201C329.14 490.201 331.158 490.929 332.764 492.384C334.157 493.644 334.952 495.232 335.148 497.148H330.301C329.872 495.249 328.649 494.3 326.632 494.3C325.168 494.3 324.043 494.823 323.257 495.87C322.472 496.899 322.079 498.381 322.079 500.315C322.079 504.183 323.668 506.117 326.846 506.117C329.185 506.117 330.524 505.052 330.863 502.923H327.381V499.383H335.443Z"
          fill="white"></path>
        <path
          d="M361.176 502.311C361.051 504.298 360.364 506.01 359.114 507.447C357.525 509.293 355.257 510.215 352.311 510.215C349.169 510.215 346.732 509.133 345 506.968C343.518 505.141 342.777 502.879 342.777 500.182C342.777 497.396 343.626 495.054 345.322 493.156C347.089 491.186 349.473 490.201 352.472 490.201C354.972 490.201 357.052 490.973 358.712 492.517C360.14 493.848 360.917 495.48 361.042 497.414H356.168C355.971 496.544 355.668 495.888 355.257 495.444C354.561 494.681 353.606 494.3 352.392 494.3C350.892 494.3 349.732 494.894 348.91 496.083C348.214 497.13 347.866 498.505 347.866 500.208C347.866 502.178 348.312 503.686 349.205 504.733C349.99 505.655 351.035 506.117 352.338 506.117C353.677 506.117 354.695 505.629 355.391 504.653C355.766 504.121 356.025 503.34 356.168 502.311H361.176Z"
          fill="white"></path>
        <path
          d="M373.98 490.68L381.157 509.736H375.961L374.729 506.25H368.088L366.856 509.736H361.714L368.891 490.68H373.98ZM373.578 502.683L372.667 500.102C372.132 498.541 371.721 497.112 371.435 495.817C371.078 497.201 370.641 498.647 370.123 500.155L369.239 502.683H373.578Z"
          fill="white"></path>
        <path
          d="M399.442 490.68V509.736H394.568L389.399 501.087L388.301 499.144C388.105 498.824 387.837 498.283 387.498 497.52C387.623 498.922 387.685 500.537 387.685 502.364V509.736H382.811V490.68H387.873L392.64 498.745C393.568 500.341 394.282 501.672 394.782 502.737C394.639 500.874 394.568 499.233 394.568 497.813V490.68H399.442Z"
          fill="white"></path>
        <path
          d="M413.314 490.68L420.491 509.736H415.296L414.064 506.25H407.422L406.19 509.736H401.048L408.226 490.68H413.314ZM412.912 502.683L412.002 500.102C411.466 498.541 411.055 497.112 410.77 495.817C410.413 497.201 409.975 498.647 409.457 500.155L408.574 502.683H412.912Z"
          fill="white"></path>
        <path
          d="M422.146 490.68H430.34C433.143 490.68 435.331 491.39 436.902 492.81C438.848 494.548 439.821 496.97 439.821 500.075C439.821 503.287 438.91 505.771 437.089 507.527C435.572 509 433.313 509.736 430.314 509.736H422.146V490.68ZM427.154 494.779V505.638H429.912C431.483 505.638 432.644 505.238 433.393 504.44C434.286 503.464 434.732 502.062 434.732 500.235C434.732 498.159 434.117 496.651 432.885 495.711C432.045 495.09 430.939 494.779 429.564 494.779H427.154Z"
          fill="white"></path>
        <path d="M447.501 490.68V509.736H442.493V490.68H447.501Z" fill="white"
        ></path>
        <path
          d="M461.409 490.68L468.587 509.736H463.391L462.159 506.25H455.518L454.286 509.736H449.144L456.321 490.68H461.409ZM461.008 502.683L460.097 500.102C459.562 498.541 459.151 497.112 458.865 495.817C458.508 497.201 458.071 498.647 457.553 500.155L456.669 502.683H461.008Z"
          fill="white"></path>
        <path
          d="M486.872 490.68V509.736H481.998L476.829 501.087L475.731 499.144C475.535 498.824 475.267 498.283 474.928 497.52C475.053 498.922 475.115 500.537 475.115 502.364V509.736H470.241V490.68H475.303L480.07 498.745C480.998 500.341 481.712 501.672 482.212 502.737C482.069 500.874 481.998 499.233 481.998 497.813V490.68H486.872Z"
          fill="white"></path>
        <path
          d="M505.029 496.403H500.262C500.19 494.841 499.164 494.06 497.182 494.06C495.45 494.06 494.584 494.619 494.584 495.737C494.584 496.252 494.816 496.624 495.28 496.855C495.673 497.05 496.932 497.414 499.057 497.946C501.074 498.461 502.538 499.002 503.449 499.57C505.02 500.528 505.805 501.965 505.805 503.881C505.805 505.975 504.975 507.589 503.315 508.725C501.869 509.719 499.967 510.215 497.61 510.215C494.754 510.215 492.576 509.532 491.076 508.166C489.755 506.977 489.076 505.363 489.041 503.322H494.075C494.182 505.345 495.423 506.356 497.798 506.356C499.744 506.356 500.717 505.709 500.717 504.413C500.717 503.81 500.458 503.367 499.94 503.083C499.44 502.781 498.182 502.346 496.164 501.779C493.718 501.087 492.076 500.386 491.237 499.676C490.255 498.842 489.764 497.636 489.764 496.057C489.764 494.176 490.549 492.694 492.12 491.612C493.495 490.672 495.254 490.201 497.396 490.201C499.949 490.201 501.895 490.814 503.234 492.038C504.395 493.102 504.993 494.557 505.029 496.403Z"
          fill="white"></path>
      </svg>
    </div>
    <div
      class="flex flex-col md:max-w-[60%] lg:max-w-[40%] 3xl:max-w-[35%] items-center gap-y-4 lg:gap-y-12"
    >
      <h2
        class="text-floral-white uppercase text-2xl font-headings lg:text-4xl"
      >
        Release Date
      </h2>
      <div class="flex gap-x-2 lg:gap-x-12">
        <div
          class="flex flex-col items-center justify-center gap-y-4 text-floral-white"
        >
          <span
            id="days"
            class="w-20 flex justify-center items-center font-headings font-extrabold text-4xl lg:text-[4rem]"
          ></span>
          <p class="uppercase font-extrabold">days</p>
        </div>
        <div
          class="flex flex-col items-center justify-center gap-y-4 text-floral-white"
        >
          <span
            id="hours"
            class="w-20 flex justify-center items-center font-headings font-extrabold text-4xl lg:text-[4rem]"
          ></span>
          <p class="uppercase font-extrabold">hours</p>
        </div>
        <div
          class="flex flex-col items-center justify-center gap-y-4 text-floral-white"
        >
          <span
            id="minutes"
            class="w-20 flex justify-center items-center font-headings font-extrabold text-4xl lg:text-[4rem]"
          ></span>
          <p class="uppercase font-extrabold">minutes</p>
        </div>
        <div
          class="flex flex-col items-center justify-center gap-y-4 text-floral-white"
        >
          <span
            id="seconds"
            class="w-20 flex justify-center items-center font-headings font-extrabold text-4xl lg:text-[4rem]"
          ></span>
          <p class="uppercase font-extrabold">seconds</p>
        </div>
      </div>
      <MailChimpNotification client:load />
    </div>

    {
      /*<a
      href="/dummy.pdf"
      download="Sex Lives Report 2023"
      class="animate-presense text-center z-10 uppercase font-headings text-floral-white duration-300 ease-in-out transition-colors bg-dark hover:bg-maroon py-8 text-lg lg:text-2xl w-[95%] lg:w-[78%]"
    >
      Download full report
    </a>*/
    }
  </div>

  <div class="absolute top-0 left-0 h-full w-full bg-[#250101]">
    <img
      src="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,q_auto,w_auto,c_scale/v1/SexLivesReport/z9fynjnvhmxpslgokedf"
      alt="A despairing teenage girl sitting on the bed"
      class="object-cover h-full w-full mix-blend-screen opacity-80"
      style={`background-image:
        url(https://res.cloudinary.com/dsvly11gz/image/upload/e_blur:1000,q_1,f_auto,c_scale,w_auto/v1/SexLivesReport/z9fynjnvhmxpslgokedf);`}
      sizes="100vw"
      srcset="
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_640/v1/SexLivesReport/z9fynjnvhmxpslgokedf 640w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_768/v1/SexLivesReport/z9fynjnvhmxpslgokedf 768w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_1024/v1/SexLivesReport/z9fynjnvhmxpslgokedf 1024w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_1536/v1/SexLivesReport/z9fynjnvhmxpslgokedf 1536w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_1920/v1/SexLivesReport/z9fynjnvhmxpslgokedf 1920w"
    />
  </div>
</div>

<script>
  // Set the date we're counting down to
  const countDownDate = new Date("Oct 16, 2023 08:00:00").getTime();

  // Update the count down every 1 second
  const x = setInterval(function () {
    // Get today's date and time
    const now = new Date().getTime();

    // Find the distance between now and the count down date
    const distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    const daysCounter = document.getElementById("days");
    const hoursCounter = document.getElementById("hours");
    const minutesCounter = document.getElementById("minutes");
    const secondsCounter = document.getElementById("seconds");
    if (
      daysCounter !== null &&
      minutesCounter !== null &&
      hoursCounter !== null &&
      secondsCounter !== null
    ) {
      daysCounter.innerText = days.toString();
      hoursCounter.innerText = hours.toString();
      minutesCounter.innerText = minutes.toString();
      secondsCounter.innerText = seconds.toString();

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
      }
    }
  }, 1000);
</script>
