<div
  class="min-h-screen w-full flex flex-col gap-10 justify-center items-center relative"
>
  <div
    class="section z-10 flex flex-col gap-y-12 items-center justify-center py-10"
  >
    <div class="w-full flex flex-col items-center gap-y-2">
      <h1
        class="font-headings text-floral-white flex flex-col uppercase gap-y-0"
      >
        <span
          class="animate-presense text-[8.5rem] leading-[100px] md:text-[15rem] md:leading-[180px]"
          >sex</span
        >
        <span
          class="animate-presense text-[6rem] leading-[100px] md:text-[11rem] md:leading-[150px]"
          >lives</span
        >
        <span
          class="animate-presense text-[4rem] leading-[50px] md:text-[7.5rem] md:leading-[100px]"
          >report</span
        >
      </h1>
      <div class="flex w-full md:w-[78%] justify-center items-center gap-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="animate-presense h-11 w-4 md:h-20 md:w-5"
          viewBox="0 0 18 60"
          fill="none"
        >
          <path
            d="M10.097 55.7171C9.43643 54.9481 8.87811 54.3252 8.42202 53.8484C7.96592 53.3717 7.5806 53.0102 7.26605 52.7642C6.93578 52.5181 6.63696 52.3489 6.36959 52.2566C6.0865 52.1644 5.79554 52.1182 5.49672 52.1182C5.08781 52.1182 4.72608 52.2182 4.41153 52.4181C4.09698 52.6027 3.86107 52.8641 3.7038 53.2025C3.5308 53.5408 3.4443 53.933 3.4443 54.379C3.4443 54.7789 3.52294 55.1557 3.68021 55.5094C3.83748 55.8632 4.10485 56.2092 4.48231 56.5476C4.85976 56.8706 5.36304 57.2012 5.99214 57.5396C6.0865 57.6011 6.14941 57.6934 6.18086 57.8164C6.19659 57.9241 6.15727 58.0625 6.06291 58.2317L4.81258 60.654C4.73394 60.8231 4.61599 60.9231 4.45872 60.9539C4.28571 60.9692 4.12844 60.9308 3.98689 60.8385C2.61861 60.008 1.61992 59.0468 0.990825 57.9548C0.346002 56.8475 0.0235907 55.571 0.0235907 54.1253C0.0235906 52.8026 0.251637 51.6568 0.707732 50.6879C1.1481 49.7036 1.77719 48.9423 2.59502 48.404C3.41284 47.8657 4.37221 47.5966 5.47313 47.5966C6.0865 47.5966 6.66841 47.6966 7.21887 47.8965C7.76933 48.0964 8.31193 48.4271 8.84666 48.8885C9.36566 49.3499 9.91612 49.9728 10.498 50.7571L13.5885 54.9096C13.6514 55.0173 13.7143 55.0711 13.7772 55.0711C13.8401 55.0557 13.8716 54.9558 13.8716 54.7712L13.8716 47.9196C13.8716 47.5966 14.0052 47.4351 14.2726 47.4351L17.2923 47.4351C17.4181 47.4351 17.5282 47.4736 17.6225 47.5505C17.7169 47.6274 17.7641 47.7581 17.7641 47.9426L17.7641 60.4233C17.7641 60.6386 17.7326 60.7924 17.6697 60.8847C17.5911 60.9615 17.4417 61 17.2215 61L15.1455 61C15.0511 61 14.9646 60.9846 14.886 60.9539C14.7916 60.9077 14.6579 60.8001 14.4849 60.6309C14.2962 60.4463 14.0367 60.1618 13.7064 59.7773L10.097 55.7171Z"
            fill="#F6F4EC"></path>
          <path
            d="M-9.93457e-07 38.2724C-1.03984e-06 37.2112 0.220182 36.2345 0.660549 35.3425C1.10092 34.4351 1.73001 33.6585 2.54784 33.0125C3.34993 32.3512 4.30144 31.836 5.40236 31.4668C6.50328 31.0977 7.72215 30.9132 9.05898 30.9132C10.8362 30.9132 12.3932 31.2285 13.73 31.859C15.0511 32.4896 16.0891 33.3585 16.844 34.4659C17.5832 35.5732 17.9528 36.842 17.9528 38.2724C17.9528 39.718 17.5832 41.0023 16.844 42.125C16.0891 43.2477 15.0511 44.1243 13.73 44.7549C12.3932 45.3701 10.8362 45.6777 9.05898 45.6777C7.72215 45.6777 6.50328 45.5008 5.40236 45.1471C4.30144 44.778 3.34993 44.2628 2.54784 43.6014C1.73001 42.9247 1.10092 42.1404 0.660549 41.2483C0.220183 40.3409 -9.46398e-07 39.3489 -9.93457e-07 38.2724ZM14.6501 38.2954C14.6501 37.6802 14.4692 37.1804 14.1075 36.7959C13.73 36.396 13.1402 36.1038 12.3381 35.9193C11.5203 35.7347 10.4351 35.6424 9.08257 35.6424C7.68283 35.6424 6.55832 35.7424 5.70904 35.9423C4.85976 36.1269 4.24639 36.4191 3.86894 36.819C3.47575 37.2035 3.27916 37.6956 3.27916 38.2954C3.27916 38.9106 3.47575 39.4181 3.86894 39.818C4.24639 40.2025 4.86763 40.487 5.73263 40.6716C6.58191 40.8561 7.69856 40.9484 9.08257 40.9484C10.4194 40.9484 11.4967 40.8561 12.3145 40.6716C13.1324 40.487 13.73 40.1948 14.1075 39.7949C14.4692 39.3951 14.6501 38.8952 14.6501 38.2954Z"
            fill="#F6F4EC"></path>
          <path
            d="M10.097 23.9965C9.43643 23.2275 8.87811 22.6046 8.42202 22.1278C7.96592 21.6511 7.5806 21.2896 7.26605 21.0436C6.93578 20.7975 6.63696 20.6283 6.36959 20.536C6.0865 20.4438 5.79554 20.3976 5.49672 20.3976C5.08781 20.3976 4.72608 20.4976 4.41153 20.6975C4.09698 20.8821 3.86107 21.1435 3.7038 21.4819C3.5308 21.8202 3.4443 22.2124 3.4443 22.6584C3.4443 23.0583 3.52293 23.4351 3.68021 23.7888C3.83748 24.1426 4.10485 24.4886 4.4823 24.827C4.85976 25.1499 5.36304 25.4806 5.99213 25.819C6.0865 25.8805 6.14941 25.9727 6.18086 26.0958C6.19659 26.2034 6.15727 26.3419 6.06291 26.511L4.81258 28.9333C4.73394 29.1025 4.61599 29.2025 4.45872 29.2332C4.28571 29.2486 4.12844 29.2102 3.98689 29.1179C2.61861 28.2874 1.61992 27.3262 0.990824 26.2342C0.346001 25.1269 0.0235894 23.8504 0.0235893 22.4047C0.0235892 21.082 0.251636 19.9362 0.70773 18.9673C1.1481 17.983 1.77719 17.2217 2.59502 16.6834C3.41284 16.1451 4.37221 15.876 5.47313 15.876C6.0865 15.876 6.66841 15.976 7.21887 16.1759C7.76933 16.3758 8.31192 16.7065 8.84666 17.1679C9.36566 17.6293 9.91612 18.2521 10.498 19.0365L13.5885 23.189C13.6514 23.2967 13.7143 23.3505 13.7772 23.3505C13.8401 23.3351 13.8716 23.2352 13.8716 23.0506L13.8716 16.199C13.8716 15.876 14.0052 15.7145 14.2726 15.7145L17.2923 15.7145C17.4181 15.7145 17.5282 15.7529 17.6225 15.8298C17.7169 15.9067 17.7641 16.0375 17.7641 16.222L17.7641 28.7026C17.7641 28.918 17.7326 29.0718 17.6697 29.164C17.5911 29.2409 17.4417 29.2794 17.2215 29.2794L15.1455 29.2794C15.0511 29.2794 14.9646 29.264 14.886 29.2332C14.7916 29.1871 14.6579 29.0794 14.4849 28.9103C14.2962 28.7257 14.0367 28.4412 13.7064 28.0567L10.097 23.9965Z"
            fill="#F6F4EC"></path>
          <path
            d="M3.09043 13.4034C2.93316 13.5572 2.74443 13.5572 2.52424 13.4034C2.02097 13.0189 1.58846 12.5037 1.22673 11.8577C0.849277 11.2118 0.55832 10.4889 0.353864 9.6892C0.13368 8.88946 0.0235887 8.06665 0.0235886 7.22076C0.0235886 5.82121 0.22018 4.62928 0.613365 3.64499C0.990823 2.64531 1.52555 1.87632 2.21756 1.33803C2.90956 0.79974 3.71953 0.530598 4.64744 0.530597C5.35517 0.530597 6.04718 0.761291 6.72346 1.22268C7.39973 1.66869 7.87942 2.32233 8.16251 3.18359C8.22542 3.35277 8.30406 3.44505 8.39842 3.46043C8.49279 3.46043 8.57143 3.37584 8.63434 3.20666C8.83879 2.56072 9.14547 1.99936 9.55439 1.52259C9.94757 1.04582 10.4037 0.676704 10.9227 0.415248C11.4417 0.138416 12.0079 -5.2488e-07 12.6212 -5.51692e-07C13.7851 -6.02564e-07 14.768 0.284519 15.5701 0.853568C16.3722 1.40724 16.9777 2.23774 17.3866 3.34508C17.7955 4.45242 18 5.83659 18 7.4976C18 8.405 17.8742 9.28933 17.6225 10.1506C17.3552 10.9965 16.9934 11.7655 16.5374 12.4575C16.0813 13.1343 15.5544 13.6879 14.9567 14.1186C14.7995 14.2108 14.6501 14.2416 14.5085 14.2108C14.367 14.1801 14.249 14.0955 14.1546 13.9571L12.6684 11.8808C12.574 11.727 12.5347 11.6117 12.5505 11.5348C12.5505 11.4425 12.5819 11.3656 12.6448 11.3041C13.1324 10.8273 13.5256 10.389 13.8244 9.9891C14.1232 9.58923 14.3434 9.17398 14.4849 8.74335C14.6265 8.31272 14.6972 7.81288 14.6972 7.24383C14.6972 6.39795 14.5164 5.74431 14.1546 5.28292C13.7772 4.82153 13.2975 4.59083 12.7156 4.59084C12.2595 4.59084 11.8742 4.71387 11.5596 4.95995C11.2294 5.19064 10.9699 5.52131 10.7811 5.95194C10.5924 6.38257 10.4902 6.86703 10.4744 7.40532L10.4509 9.36623C10.4509 9.65844 10.325 9.80455 10.0734 9.80455L7.52555 9.80455C7.3211 9.80455 7.19528 9.65844 7.1481 9.36623L7.07732 7.7975C7.04587 7.24383 6.93578 6.76706 6.74705 6.36719C6.55832 5.96732 6.31455 5.65203 6.01573 5.42134C5.70118 5.19064 5.34731 5.07529 4.95413 5.07529C4.63958 5.07529 4.35648 5.17526 4.10485 5.3752C3.83748 5.57513 3.63303 5.84428 3.49148 6.18264C3.3342 6.50561 3.25557 6.87472 3.25557 7.28997C3.25557 7.98206 3.38925 8.60493 3.65662 9.1586C3.90825 9.71227 4.34076 10.2967 4.95413 10.9119C5.06422 11.0195 5.11926 11.1118 5.11926 11.1887C5.11926 11.2502 5.07208 11.3348 4.97772 11.4425L3.09043 13.4034Z"
            fill="#F6F4EC"></path>
        </svg>
        <div class="flex flex-col md:gap-y-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="animate-presense h-7 w-[250px] md:w-[100%] md:h-8"
            viewBox="0 0 534 27"
            fill="none"
          >
            <path
              d="M25.6018 0.646277L16.1356 16.6955V26.3537H9.43036V16.6955L0 0.646277H7.60166L10.5778 6.10372C11.3905 7.58777 12.1435 9.23936 12.8368 11.0585C13.6734 8.92819 14.4862 7.14495 15.275 5.70878L18.1077 0.646277H25.6018Z"
              fill="#F6F4EC"></path>
            <path
              d="M38.7269 0C42.7189 0 45.8982 1.41223 48.2648 4.2367C50.2967 6.70213 51.3126 9.7899 51.3126 13.5C51.3126 17.7846 49.9979 21.1835 47.3684 23.6968C45.0735 25.8989 42.193 27 38.7269 27C34.6631 27 31.436 25.5878 29.0455 22.7633C26.9897 20.3218 25.9618 17.234 25.9618 13.5C25.9618 9.21543 27.2287 5.86436 29.7626 3.44681C32.2009 1.14894 35.189 0 38.7269 0ZM38.691 5.52925C36.7547 5.52925 35.2487 6.34309 34.173 7.97075C33.2407 9.35904 32.7746 11.1902 32.7746 13.4641C32.7746 16.121 33.3722 18.1676 34.5675 19.6037C35.6193 20.8484 37.0057 21.4707 38.7269 21.4707C40.5436 21.4707 41.9659 20.7646 42.9938 19.3524C44.0217 17.9162 44.5357 15.9176 44.5357 13.3564C44.5357 10.7473 43.9381 8.74867 42.7428 7.36037C41.7149 6.13963 40.3643 5.52925 38.691 5.52925Z"
              fill="#F6F4EC"></path>
            <path
              d="M76.8909 0.646277V15.9415C76.8909 19.3644 76.1857 21.9255 74.7754 23.625C72.9108 25.875 69.8988 27 65.7394 27C61.3171 27 58.1736 25.7314 56.3091 23.1942C55.1377 21.5904 54.5521 19.1489 54.5521 15.8697V0.646277H61.2573V16.3723C61.2573 18.1676 61.6159 19.4721 62.333 20.2859C63.0741 21.0758 64.2573 21.4707 65.8829 21.4707C67.3888 21.4707 68.4884 21.0758 69.1817 20.2859C69.8749 19.4721 70.2215 18.1676 70.2215 16.3723V0.646277H76.8909Z"
              fill="#F6F4EC"></path>
            <path
              d="M101.467 0.646277V6.42686H93.7938V26.3537H87.1244V6.42686H79.4869V0.646277H101.467Z"
              fill="#F6F4EC"></path>
            <path
              d="M126.619 0.646277V26.3537H119.913V15.7261H111.2V26.3537H104.495V0.646277H111.2V9.94548H119.913V0.646277H126.619Z"
              fill="#F6F4EC"></path>
            <path
              d="M159.594 0.646277L151.239 26.3537H143.53L135.391 0.646277H142.419L144.749 8.11436C146.064 12.3032 146.972 16.1809 147.474 19.7473C148.024 16.1569 148.945 12.2912 150.235 8.15027L152.566 0.646277H159.594Z"
              fill="#F6F4EC"></path>
            <path
              d="M173.47 0C177.462 0 180.642 1.41223 183.008 4.2367C185.04 6.70213 186.056 9.7899 186.056 13.5C186.056 17.7846 184.741 21.1835 182.112 23.6968C179.817 25.8989 176.937 27 173.47 27C169.407 27 166.179 25.5878 163.789 22.7633C161.733 20.3218 160.705 17.234 160.705 13.5C160.705 9.21543 161.972 5.86436 164.506 3.44681C166.944 1.14894 169.932 0 173.47 0ZM173.434 5.52925C171.498 5.52925 169.992 6.34309 168.917 7.97075C167.984 9.35904 167.518 11.1902 167.518 13.4641C167.518 16.121 168.116 18.1676 169.311 19.6037C170.363 20.8484 171.749 21.4707 173.47 21.4707C175.287 21.4707 176.709 20.7646 177.737 19.3524C178.765 17.9162 179.279 15.9176 179.279 13.3564C179.279 10.7473 178.682 8.74867 177.486 7.36037C176.458 6.13963 175.108 5.52925 173.434 5.52925Z"
              fill="#F6F4EC"></path>
            <path
              d="M196.395 0.646277V26.3537H189.69V0.646277H196.395Z"
              fill="#F6F4EC"></path>
            <path
              d="M224.628 16.3364C224.46 19.0173 223.54 21.3271 221.867 23.266C219.739 25.7553 216.703 27 212.759 27C208.552 27 205.289 25.5399 202.97 22.6197C200.986 20.1543 199.994 17.1024 199.994 13.4641C199.994 9.70612 201.129 6.54654 203.4 3.98537C205.767 1.32846 208.958 0 212.974 0C216.321 0 219.106 1.04122 221.329 3.12367C223.241 4.91888 224.281 7.12101 224.448 9.73005H217.922C217.659 8.55718 217.253 7.67154 216.703 7.07314C215.771 6.04388 214.492 5.52925 212.866 5.52925C210.858 5.52925 209.305 6.33112 208.205 7.93484C207.273 9.34708 206.807 11.2021 206.807 13.5C206.807 16.1569 207.404 18.1915 208.599 19.6037C209.651 20.8484 211.05 21.4707 212.795 21.4707C214.588 21.4707 215.95 20.8125 216.882 19.496C217.384 18.7779 217.731 17.7247 217.922 16.3364H224.628Z"
              fill="#F6F4EC"></path>
            <path
              d="M248.404 0.646277V6.17553H234.563V10.4481H247.221V15.7261H234.563V20.8245H248.727V26.3537H227.858V0.646277H248.404Z"
              fill="#F6F4EC"></path>
            <path
              d="M272.194 8.36569H265.812C265.716 6.25931 264.342 5.20612 261.688 5.20612C259.369 5.20612 258.21 5.96011 258.21 7.46809C258.21 8.16224 258.521 8.66489 259.142 8.97606C259.668 9.23936 261.353 9.73005 264.198 10.4481C266.899 11.1423 268.859 11.8723 270.079 12.6383C272.182 13.9309 273.234 15.8697 273.234 18.4548C273.234 21.2793 272.122 23.4575 269.899 24.9894C267.963 26.3298 265.417 27 262.262 27C258.437 27 255.521 26.0785 253.513 24.2354C251.744 22.6317 250.835 20.4535 250.788 17.7008H257.529C257.672 20.4295 259.334 21.7939 262.513 21.7939C265.118 21.7939 266.421 20.9202 266.421 19.1729C266.421 18.359 266.075 17.7606 265.381 17.3777C264.712 16.9707 263.027 16.3843 260.326 15.6184C257.051 14.6848 254.851 13.7394 253.728 12.7819C252.413 11.6569 251.756 10.0293 251.756 7.89894C251.756 5.3617 252.808 3.36303 254.911 1.90292C256.752 0.634308 259.106 0 261.975 0C265.393 0 267.999 0.825798 269.792 2.47739C271.346 3.91356 272.146 5.87633 272.194 8.36569Z"
              fill="#F6F4EC"></path>
            <path
              d="M278.965 12.6742C279.754 12.6742 280.411 12.9495 280.937 13.5C281.487 14.0505 281.762 14.7088 281.762 15.4747C281.762 16.2646 281.487 16.9348 280.937 17.4854C280.411 18.012 279.754 18.2753 278.965 18.2753C278.2 18.2753 277.543 18.012 276.993 17.4854C276.443 16.9348 276.168 16.2646 276.168 15.4747C276.168 14.7088 276.443 14.0505 276.993 13.5C277.543 12.9495 278.2 12.6742 278.965 12.6742ZM278.965 20.9322C279.73 20.9322 280.387 21.2075 280.937 21.758C281.487 22.2846 281.762 22.9309 281.762 23.6968C281.762 24.4867 281.487 25.1569 280.937 25.7074C280.387 26.258 279.73 26.5332 278.965 26.5332C278.2 26.5332 277.543 26.258 276.993 25.7074C276.443 25.1569 276.168 24.4867 276.168 23.6968C276.168 22.9309 276.431 22.2846 276.957 21.758C277.507 21.2075 278.176 20.9322 278.965 20.9322Z"
              fill="#F6F4EC"></path>
            <path
              d="M314.443 0.646277V15.9415C314.443 19.3644 313.738 21.9255 312.327 23.625C310.463 25.875 307.451 27 303.291 27C298.869 27 295.726 25.7314 293.861 23.1942C292.69 21.5904 292.104 19.1489 292.104 15.8697V0.646277H298.809V16.3723C298.809 18.1676 299.168 19.4721 299.885 20.2859C300.626 21.0758 301.809 21.4707 303.435 21.4707C304.941 21.4707 306.04 21.0758 306.734 20.2859C307.427 19.4721 307.773 18.1676 307.773 16.3723V0.646277H314.443Z"
              fill="#F6F4EC"></path>
            <path
              d="M341.063 0.646277V26.3537H334.537L327.617 14.6848L326.147 12.0638C325.884 11.633 325.525 10.9029 325.071 9.87367C325.238 11.7646 325.322 13.9428 325.322 16.4082V26.3537H318.796V0.646277H325.573L331.955 11.5253C333.198 13.6795 334.155 15.4747 334.824 16.9109C334.633 14.3976 334.537 12.1835 334.537 10.2686V0.646277H341.063Z"
              fill="#F6F4EC"></path>
            <path
              d="M364.477 20.5731V26.3537H345.724V0.646277H352.429V20.5731H364.477Z"
              fill="#F6F4EC"></path>
            <path
              d="M388.4 0.646277V6.17553H374.559V10.4481H387.217V15.7261H374.559V20.8245H388.723V26.3537H367.854V0.646277H388.4Z"
              fill="#F6F4EC"></path>
            <path
              d="M406.453 0.646277L416.063 26.3537H409.106L407.457 21.6503H398.565L396.915 26.3537H390.031L399.64 0.646277H406.453ZM405.915 16.8391L404.696 13.3564C403.979 11.25 403.429 9.32314 403.047 7.5758C402.569 9.44282 401.983 11.3936 401.29 13.4282L400.106 16.8391H405.915Z"
              fill="#F6F4EC"></path>
            <path
              d="M418.206 0.646277H430.863C433.469 0.646277 435.453 1.05319 436.816 1.86702C439.134 3.23138 440.294 5.30186 440.294 8.07846C440.294 9.51463 439.935 10.7952 439.218 11.9202C438.501 13.0452 437.533 13.859 436.314 14.3617C437.389 14.6489 438.25 15.2952 438.895 16.3005C439.326 16.9707 439.613 17.6649 439.756 18.383C439.923 19.0771 440.115 20.6689 440.33 23.1582C440.497 24.738 440.712 25.7194 440.975 26.1024L441.19 26.3537H434.342C434.126 25.8511 433.875 24.0559 433.589 20.9681C433.397 19.4122 432.967 18.3351 432.298 17.7367C431.628 17.1144 430.541 16.8032 429.035 16.8032H424.911V26.3537H418.206V0.646277ZM424.911 5.9242V11.992H429.644C432.346 11.992 433.696 10.9628 433.696 8.90426C433.696 6.91755 432.322 5.9242 429.573 5.9242H424.911Z"
              fill="#F6F4EC"></path>
            <path
              d="M467.402 0.646277V26.3537H460.877L453.956 14.6848L452.486 12.0638C452.223 11.633 451.865 10.9029 451.41 9.87367C451.578 11.7646 451.661 13.9428 451.661 16.4082V26.3537H445.135V0.646277H451.912L458.295 11.5253C459.538 13.6795 460.494 15.4747 461.163 16.9109C460.972 14.3976 460.877 12.1835 460.877 10.2686V0.646277H467.402Z"
              fill="#F6F4EC"></path>
            <path
              d="M478.768 0.646277V26.3537H472.063V0.646277H478.768Z"
              fill="#F6F4EC"></path>
            <path
              d="M505.746 0.646277V26.3537H499.22L492.299 14.6848L490.829 12.0638C490.566 11.633 490.208 10.9029 489.753 9.87367C489.921 11.7646 490.004 13.9428 490.004 16.4082V26.3537H483.478V0.646277H490.255L496.638 11.5253C497.881 13.6795 498.837 15.4747 499.507 16.9109C499.315 14.3976 499.22 12.1835 499.22 10.2686V0.646277H505.746Z"
              fill="#F6F4EC"></path>
            <path
              d="M534 12.387V26.3537H529.697C529.458 25.2527 529.339 24.4628 529.339 23.984C529.339 23.9362 529.339 23.8763 529.339 23.8045C529.339 23.7088 529.339 23.625 529.339 23.5532C527.522 25.8511 524.952 27 521.629 27C517.685 27 514.566 25.5997 512.271 22.7992C510.287 20.3577 509.295 17.2819 509.295 13.5718C509.295 9.2633 510.657 5.84043 513.382 3.30319C515.749 1.10106 518.725 0 522.311 0C525.562 0 528.263 0.981383 530.414 2.94415C532.279 4.64362 533.343 6.7859 533.606 9.37101H527.115C526.542 6.80984 524.904 5.52925 522.203 5.52925C520.243 5.52925 518.737 6.23537 517.685 7.64761C516.633 9.0359 516.107 11.0346 516.107 13.6436C516.107 18.8617 518.235 21.4707 522.49 21.4707C525.621 21.4707 527.414 20.0346 527.868 17.1622H523.207V12.387H534Z"
              fill="#F6F4EC"></path>
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 534 30"
            class="animate-presense h-7 w-[250px] md:w-[100%] md:h-8"
            fill="none"
          >
            <path
              d="M22.418 9.29521H15.7339C15.6338 6.95479 14.1943 5.78457 11.4155 5.78457C8.98723 5.78457 7.77308 6.62234 7.77308 8.29787C7.77308 9.06915 8.09852 9.62766 8.7494 9.9734C9.30015 10.266 11.0651 10.8112 14.0441 11.609C16.873 12.3803 18.9258 13.1915 20.2025 14.0426C22.4055 15.4787 23.507 17.633 23.507 20.5053C23.507 23.6436 22.3429 26.0638 20.0147 27.766C17.987 29.2553 15.3208 30 12.0164 30C8.0109 30 4.95674 28.9761 2.85388 26.9282C1.00136 25.1463 0.0500681 22.7261 0 19.6676H7.05961C7.20981 22.6995 8.94968 24.2154 12.2792 24.2154C15.0079 24.2154 16.3723 23.2447 16.3723 21.3032C16.3723 20.3989 16.0093 19.734 15.2833 19.3085C14.5823 18.8564 12.8174 18.2048 9.98859 17.3537C6.55893 16.3165 4.25579 15.266 3.07919 14.2021C1.70232 12.9521 1.01388 11.1436 1.01388 8.7766C1.01388 5.95745 2.11538 3.7367 4.31838 2.11436C6.246 0.704787 8.71185 0 11.7159 0C15.2958 0 18.0245 0.917553 19.9021 2.75266C21.5293 4.3484 22.3679 6.52925 22.418 9.29521Z"
              fill="#F6F4EC"></path>
            <path
              d="M48.6598 0.718086V6.8617H34.165V11.609H47.4206V17.4734H34.165V23.1383H48.9977V29.2819H27.143V0.718086H48.6598Z"
              fill="#F6F4EC"></path>
            <path
              d="M76.3153 0.718086L67.7161 14.242L77.254 29.2819H68.7299L65.4254 23.5771C64.6995 22.3271 64.0611 21.0372 63.5103 19.7074C63.0097 20.9043 62.3337 22.2207 61.4826 23.6569L58.1405 29.2819H50.0295L59.6426 14.242L50.8556 0.718086H59.1169L61.783 5.42553C62.5841 6.83511 63.26 8.20479 63.8107 9.53457C64.3615 8.20479 64.9874 6.94149 65.6883 5.74468L68.5046 0.718086H76.3153Z"
              fill="#F6F4EC"></path>
            <path
              d="M107.7 0.718086V6.8617H93.2053V11.609H106.461V17.4734H93.2053V23.1383H108.038V29.2819H86.1833V0.718086H107.7Z"
              fill="#F6F4EC"></path>
            <path
              d="M112.036 0.718086H123.527C127.457 0.718086 130.524 1.78192 132.727 3.90957C135.456 6.51596 136.82 10.1463 136.82 14.8005C136.82 19.6144 135.543 23.3378 132.99 25.9707C130.862 28.1782 127.695 29.2819 123.489 29.2819H112.036V0.718086ZM119.058 6.8617V23.1383H122.926C125.129 23.1383 126.756 22.5399 127.808 21.3431C129.059 19.8803 129.685 17.7793 129.685 15.0399C129.685 11.9282 128.822 9.66755 127.094 8.25798C125.918 7.32713 124.366 6.8617 122.438 6.8617H119.058Z"
              fill="#F6F4EC"></path>
            <path
              d="M163.548 0.718086V17.7128C163.548 21.516 162.809 24.3617 161.332 26.25C159.379 28.75 156.225 30 151.869 30C147.238 30 143.946 28.5904 141.993 25.7713C140.767 23.9894 140.153 21.2766 140.153 17.633V0.718086H147.175V18.1915C147.175 20.1862 147.551 21.6356 148.302 22.5399C149.078 23.4176 150.317 23.8564 152.019 23.8564C153.597 23.8564 154.748 23.4176 155.474 22.5399C156.2 21.6356 156.563 20.1862 156.563 18.1915V0.718086H163.548Z"
              fill="#F6F4EC"></path>
            <path
              d="M192.74 18.1516C192.565 21.1303 191.601 23.6968 189.848 25.8511C187.62 28.617 184.441 30 180.31 30C175.904 30 172.487 28.3777 170.059 25.133C167.981 22.3936 166.942 19.0027 166.942 14.9601C166.942 10.7846 168.131 7.27394 170.51 4.42819C172.988 1.47606 176.33 0 180.536 0C184.04 0 186.957 1.15692 189.285 3.47075C191.288 5.46543 192.377 7.91223 192.552 10.8112H185.718C185.442 9.50798 185.017 8.52394 184.441 7.85904C183.465 6.71543 182.125 6.14362 180.423 6.14362C178.32 6.14362 176.693 7.03457 175.541 8.81649C174.565 10.3856 174.077 12.4468 174.077 15C174.077 17.9521 174.703 20.2128 175.954 21.7819C177.056 23.1649 178.52 23.8564 180.348 23.8564C182.225 23.8564 183.652 23.125 184.629 21.6622C185.154 20.8644 185.517 19.6941 185.718 18.1516H192.74Z"
              fill="#F6F4EC"></path>
            <path
              d="M210.693 0.718086L220.756 29.2819H213.472L211.744 24.0558H202.431L200.704 29.2819H193.494L203.558 0.718086H210.693ZM210.129 18.7101L208.853 14.8404C208.102 12.5 207.526 10.359 207.125 8.41755C206.625 10.492 206.011 12.6596 205.285 14.9202L204.046 18.7101H210.129Z"
              fill="#F6F4EC"></path>
            <path
              d="M244.255 0.718086V7.14096H236.219V29.2819H229.234V7.14096H221.236V0.718086H244.255Z"
              fill="#F6F4EC"></path>
            <path
              d="M254.448 0.718086V29.2819H247.426V0.718086H254.448Z"
              fill="#F6F4EC"></path>
            <path
              d="M271.584 0C275.765 0 279.095 1.56915 281.573 4.70745C283.701 7.44681 284.765 10.8777 284.765 15C284.765 19.7606 283.388 23.5372 280.634 26.3298C278.231 28.7766 275.214 30 271.584 30C267.329 30 263.949 28.4309 261.446 25.2926C259.293 22.5798 258.216 19.1489 258.216 15C258.216 10.2394 259.543 6.51596 262.197 3.82979C264.75 1.2766 267.879 0 271.584 0ZM271.547 6.14362C269.519 6.14362 267.942 7.04787 266.815 8.85638C265.839 10.3989 265.351 12.4335 265.351 14.9601C265.351 17.9122 265.977 20.1862 267.229 21.7819C268.33 23.1649 269.782 23.8564 271.584 23.8564C273.487 23.8564 274.977 23.0718 276.053 21.5027C277.13 19.9069 277.668 17.6862 277.668 14.8404C277.668 11.9415 277.042 9.72075 275.79 8.17819C274.714 6.82181 273.299 6.14362 271.547 6.14362Z"
              fill="#F6F4EC"></path>
            <path
              d="M311.89 0.718086V29.2819H305.055L297.808 16.3165L296.268 13.4043C295.993 12.9255 295.618 12.1144 295.142 10.9707C295.317 13.0718 295.405 15.492 295.405 18.2314V29.2819H288.57V0.718086H295.668L302.352 12.8059C303.654 15.1995 304.655 17.1941 305.356 18.7899C305.156 15.9973 305.055 13.5372 305.055 11.4096V0.718086H311.89Z"
              fill="#F6F4EC"></path>
            <path
              d="M330.687 0.718086V29.2819H323.665V0.718086H330.687Z"
              fill="#F6F4EC"></path>
            <path
              d="M358.939 0.718086V29.2819H352.104L344.857 16.3165L343.317 13.4043C343.042 12.9255 342.666 12.1144 342.191 10.9707C342.366 13.0718 342.454 15.492 342.454 18.2314V29.2819H335.619V0.718086H342.717L349.401 12.8059C350.702 15.1995 351.704 17.1941 352.405 18.7899C352.204 15.9973 352.104 13.5372 352.104 11.4096V0.718086H358.939Z"
              fill="#F6F4EC"></path>
            <path
              d="M395.347 18.1516C395.172 21.1303 394.208 23.6968 392.456 25.8511C390.228 28.617 387.048 30 382.918 30C378.512 30 375.094 28.3777 372.666 25.133C370.588 22.3936 369.549 19.0027 369.549 14.9601C369.549 10.7846 370.739 7.27394 373.117 4.42819C375.595 1.47606 378.937 0 383.143 0C386.648 0 389.564 1.15692 391.892 3.47075C393.895 5.46543 394.984 7.91223 395.159 10.8112H388.325C388.05 9.50798 387.624 8.52394 387.048 7.85904C386.072 6.71543 384.733 6.14362 383.03 6.14362C380.927 6.14362 379.3 7.03457 378.149 8.81649C377.172 10.3856 376.684 12.4468 376.684 15C376.684 17.9521 377.31 20.2128 378.562 21.7819C379.663 23.1649 381.128 23.8564 382.955 23.8564C384.833 23.8564 386.26 23.125 387.236 21.6622C387.762 20.8644 388.125 19.6941 388.325 18.1516H395.347Z"
              fill="#F6F4EC"></path>
            <path
              d="M413.3 0.718086L423.364 29.2819H416.079L414.351 24.0558H405.039L403.311 29.2819H396.102L406.165 0.718086H413.3ZM412.737 18.7101L411.46 14.8404C410.709 12.5 410.133 10.359 409.733 8.41755C409.232 10.492 408.619 12.6596 407.893 14.9202L406.653 18.7101H412.737Z"
              fill="#F6F4EC"></path>
            <path
              d="M449.003 0.718086V29.2819H442.168L434.921 16.3165L433.381 13.4043C433.106 12.9255 432.73 12.1144 432.255 10.9707C432.43 13.0718 432.518 15.492 432.518 18.2314V29.2819H425.683V0.718086H432.78L439.465 12.8059C440.766 15.1995 441.768 17.1941 442.469 18.7899C442.268 15.9973 442.168 13.5372 442.168 11.4096V0.718086H449.003Z"
              fill="#F6F4EC"></path>
            <path
              d="M468.453 0.718086L478.517 29.2819H471.232L469.505 24.0558H460.192L458.465 29.2819H451.255L461.318 0.718086H468.453ZM467.89 18.7101L466.613 14.8404C465.862 12.5 465.286 10.359 464.886 8.41755C464.385 10.492 463.772 12.6596 463.046 14.9202L461.807 18.7101H467.89Z"
              fill="#F6F4EC"></path>
            <path
              d="M480.836 0.718086H492.327C496.257 0.718086 499.324 1.78192 501.527 3.90957C504.256 6.51596 505.62 10.1463 505.62 14.8005C505.62 19.6144 504.343 23.3378 501.79 25.9707C499.662 28.1782 496.495 29.2819 492.29 29.2819H480.836V0.718086ZM487.859 6.8617V23.1383H491.726C493.929 23.1383 495.556 22.5399 496.608 21.3431C497.86 19.8803 498.485 17.7793 498.485 15.0399C498.485 11.9282 497.622 9.66755 495.894 8.25798C494.718 7.32713 493.166 6.8617 491.238 6.8617H487.859Z"
              fill="#F6F4EC"></path>
            <path
              d="M523.936 0.718086L534 29.2819H526.715L524.988 24.0558H515.675L513.948 29.2819H506.738L516.802 0.718086H523.936ZM523.373 18.7101L522.096 14.8404C521.345 12.5 520.769 10.359 520.369 8.41755C519.868 10.492 519.255 12.6596 518.529 14.9202L517.29 18.7101H523.373Z"
              fill="#F6F4EC"></path>
          </svg>
        </div>
      </div>
    </div>

    <button
      class="animate-presense z-10 uppercase font-headings text-floral-white duration-300 ease-in-out transition-colors bg-dark hover:bg-maroon py-8 text-lg lg:text-2xl w-[95%] lg:w-[78%]"
    >
      Download full report</button
    >
  </div>

  <div class="absolute top-0 left-0 h-full w-full">
    <img
      src="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,q_auto,w_auto,c_scale/v1/SexLivesReport/z9fynjnvhmxpslgokedf"
      alt="A despairing teenage girl sitting on the bed"
      class="object-cover h-full w-full"
      style={`background-image:
        url(https://res.cloudinary.com/dsvly11gz/image/upload/e_blur:1000,q_1,f_auto,c_scale,w_auto/v1/SexLivesReport/z9fynjnvhmxpslgokedf);`}
      sizes="100vw"
      srcset="
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_640/v1/SexLivesReport/z9fynjnvhmxpslgokedf 640w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_768/v1/SexLivesReport/z9fynjnvhmxpslgokedf 768w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_1024/v1/SexLivesReport/z9fynjnvhmxpslgokedf 1024w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_1536/v1/SexLivesReport/z9fynjnvhmxpslgokedf 1536w,
      https://res.cloudinary.com/dsvly11gz/image/upload/f_auto/dpr_auto/q_auto/c_scale,w_1920/v1/SexLivesReport/z9fynjnvhmxpslgokedf 1920w"
    />
  </div>
</div>
