<div
  class="min-h-screen w-full flex flex-col gap-10 justify-center items-center relative"
>
  <div class="z-10 flex flex-col gap-y-12 items-center justify-center py-20">
    <h1 class="font-headings text-floral-white flex flex-col uppercase gap-y-0">
      <span
        class="text-[8rem] leading-[100px] md:text-[20.5rem] md:leading-[250px]"
        >sex</span
      >
      <span
        class="text-[6rem] leading-[100px] md:text-[15rem] md:leading-[220px]"
        >lives</span
      >
      <span
        class="text-[4rem] leading-[50px] md:text-[10rem] md:leading-[150px]"
        >report</span
      >
    </h1>
    <button
      class="z-10 uppercase font-headings text-floral-white bg-dark py-8 text-xl lg:text-2xl w-[95%]"
    >
      Download full report</button
    >
  </div>

  <div class="absolute top-0 left-0 h-full w-full">
    <img
      src="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,q_auto,w_auto,c_scale/v1/SexLivesReport/z9fynjnvhmxpslgokedf"
      alt="Cover"
      class="object-cover h-full w-full"
    />
  </div>
</div>
