<div
  class="h-screen w-full flex flex-col gap-10 justify-center items-center relative"
>
  <div class="w-[50%] h-[70%] z-10">
    <img
      src="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,q_auto,w_auto,c_scale/v1/SexLivesReport/uzr1j5j8hbz8vjblkby5"
      alt="Cover"
      class="object-contain h-full w-full"
    />
  </div>
  <button
    class="z-10 uppercase font-headings text-floral-white bg-dark py-8 text-xl lg:text-2xl w-[80%] md:w-[40%] 3xl:w-[20%]"
  >
    Download full report</button
  >
  <div class="absolute top-0 left-0 h-full w-full">
    <img
      src="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,q_auto,w_auto,c_scale/v1/SexLivesReport/z9fynjnvhmxpslgokedf"
      alt="Cover"
      class="object-cover h-full w-full"
    />
  </div>
</div>
