<div
  class="section bg-cover bg-fixed bg-[#D97803] bg-blend-screen bg-opacity-80 bg-no-repeat bg-center bg-[url('https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,w_auto,q_auto,c_scale/v1/SexLivesReport/i4aozt116gl33wamlqkr')] w-full py-20 relative min-h-screen flex flex-col lg:flex-row"
>
  <div
    class="w-[90%] lg:w-1/2 relative z-10 pl-8 lg:pl-[5vw] 3xl:pl-[10vw] flex flex-col gap-y-8"
  >
    <h2
      class="animate-presense text-5xl md:text-[5rem] 3xl:text-[7rem] text-floral-white font-headings uppercase leading-tight"
    >
      missing in action
    </h2>
    <div class="pr-20 flex flex-col gap-y-4">
      <p id="title" class="font-headings text-4xl"></p>
      <p id="details" class="font-paragraphs text-lg"></p>
    </div>
  </div>
  <div
    class="w-1/2 flex-col gap-y-8 z-10 -my-20 pt-24 bg-floral-white hidden lg:flex"
  >
    <p class="text-3xl font-headings text-dark max-w-[80%] pl-4 lg:pl-16">
      What topics were not covered in Sex-Ed, but you wish you learned?
    </p>
    <div class="flex flex-col">
      <div class="flex flex-col cursor-pointer hover:bg-[#D97803]" id="gasi">
        <div
          class="animate-presense flex items-center gap-x-8 w-full py-4 pl-4 lg:pl-16 border-b-[1px] border-[#D97803]"
        >
          <p class="font-number-headings text-[5rem]">33%</p>
          <p class="font-paragraphs text-2xl">Gender and Sexual Identity</p>
        </div>
      </div>

      <div class="flex flex-col cursor-pointer hover:bg-[#D97803]" id="consent">
        <div
          class="animate-presense flex items-center gap-x-8 w-full py-4 pl-4 lg:pl-16 border-b-[1px] border-[#D97803]"
        >
          <p class="font-number-headings text-[5rem]">20%</p>
          <p class="font-paragraphs text-2xl">Consent/ Relationships</p>
        </div>
      </div>

      <div
        class="flex flex-col cursor-pointer hover:bg-[#D97803]"
        id="pleasure"
      >
        <div
          class="animate-presense flex items-center gap-x-8 w-full py-4 pl-4 lg:pl-16 border-b-[1px] border-[#D97803]"
        >
          <p class="font-number-headings text-[5rem]">16%</p>
          <p class="font-paragraphs text-2xl">Pleasure</p>
        </div>
      </div>

      <div
        id="mfsh"
        class="flex flex-col cursor-pointer hover:bg-[#D97803] border-b-[1px] border-[#D97803]"
      >
        <div
          class="animate-presense flex items-center gap-x-8 py-4 w-full pl-4 lg:pl-16"
        >
          <p class="font-number-headings text-[5rem]">11%</p>
          <p class="font-paragraphs text-2xl">More Female Sexual Health</p>
        </div>
      </div>

      <div
        id="porn"
        class="animate-presense flex items-center gap-x-8 w-full py-4 pl-4 lg:pl-16 cursor-pointer hover:bg-[#D97803]"
      >
        <p class="font-number-headings text-[5rem]">7%</p>
        <p class="font-paragraphs text-2xl">Porn</p>
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col gap-y-12 z-10 px-8 lg:hidden">
    <p class="animate-presense text-2xl font-headings text-dark max-w-[80%]">
      What topics were not covered in Sex-Ed, but you wish you learned?
    </p>
    <div class="flex flex-col gap-y-8">
      <div
        class="flex flex-col cursor-pointer py-4 border-b-[1px] border-[#D97803]"
        id="gasim"
      >
        <div class="animate-presense flex items-center justify-between w-full">
          <div class="flex gap-x-8 items-center">
            <p class="font-number-headings text-5xl">33%</p>
            <p class="font-paragraphs">Gender and Sexual Identity</p>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="7"
            viewBox="0 0 12 7"
            fill="none"
            class="duration-500 ease-in-out transition-all"
          >
            <path
              d="M1 1C1.4 1.4 4.5 4.5 6 6L11 1"
              stroke="#250101"
              stroke-linecap="round"></path>
          </svg>
        </div>
        <div
          class="max-h-0 font-paragraphs text-lg pt-4 transition-all ease-in-out overflow-hidden duration-500"
        >
          Many respondents expressed their belief that the sexual education they
          received was primarily heteronormative, lacking coverage of diverse
          identities and failing to address the complexities of gender and
          sexual orientation. Only 34% of young Canadians recall learningabout
          sexuality and sexual orientation, and only 19% remember learning about
          gender identity.
        </div>
      </div>

      <div
        class="flex flex-col cursor-pointer py-4 border-b-[1px] border-[#D97803]"
        id="consentm"
      >
        <div class="animate-presense flex items-center justify-between w-full">
          <div class="flex gap-x-8 items-center">
            <p class="font-number-headings text-5xl">20%</p>
            <p class="font-paragraphs">Consent/ Relationships</p>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="7"
            viewBox="0 0 12 7"
            fill="none"
            class="duration-500 ease-in-out transition-all"
          >
            <path
              d="M1 1C1.4 1.4 4.5 4.5 6 6L11 1"
              stroke="#250101"
              stroke-linecap="round"></path>
          </svg>
        </div>
        <div
          class="max-h-0 font-paragraphs text-lg pt-4 transition-all ease-in-out overflow-hidden duration-500"
        >
          The respondents expressed a desire for a stronger focus on consent,
          feeling that it had been inadequately addressed in their sexual
          education. Sapna from Winnipeg shared “I believe the absolute first
          thing all youth should be taught about is Sex-Ed...a lack of education
          on consent is massively hurting our society”.
        </div>
      </div>

      <div
        class="flex flex-col cursor-pointer py-4 border-b-[1px] border-[#D97803]"
        id="pleasurem"
      >
        <div class="animate-presense flex items-center justify-between w-full">
          <div class="flex gap-x-8 items-center">
            <p class="font-number-headings text-5xl">16%</p>
            <p class="font-paragraphs">Pleasure</p>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="7"
            viewBox="0 0 12 7"
            fill="none"
            class="duration-500 ease-in-out transition-all"
          >
            <path
              d="M1 1C1.4 1.4 4.5 4.5 6 6L11 1"
              stroke="#250101"
              stroke-linecap="round"></path>
          </svg>
        </div>
        <div
          class="max-h-0 font-paragraphs text-lg pt-4 transition-all ease-in-out overflow-hidden duration-500"
        >
          The lack of curriculum addressing pleasure and positive aspects of sex
          was another evident theme in the responses. Many participants
          expressed their dissatisfaction with the absence of comprehensive
          information about the pleasurable aspects of sexual experiences.
          Lindsay from Moncton shared that she wished she learned “more about
          sex that is not penetrative between a man and woman. I wish I learned
          about a female orgasm because I did not understand it (as a woman)
          until I was 21 years old despite being sexually active since I was
          16”.
        </div>
      </div>

      <div
        class="flex flex-col cursor-pointer py-4 border-b-[1px] border-[#D97803]"
        id="mfshm"
      >
        <div class="animate-presense flex items-center justify-between w-full">
          <div class="flex gap-x-8 items-center">
            <p class="font-number-headings text-5xl">11%</p>
            <p class="font-paragraphs">More Female Sexual Health</p>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="7"
            viewBox="0 0 12 7"
            fill="none"
            class="duration-500 ease-in-out transition-all"
          >
            <path
              d="M1 1C1.4 1.4 4.5 4.5 6 6L11 1"
              stroke="#250101"
              stroke-linecap="round"></path>
          </svg>
        </div>
        <div
          class="max-h-0 font-paragraphs text-lg pt-4 transition-all ease-in-out overflow-hidden duration-500"
        >
          Respondents also pointed out the lack of knowledge shared specifically
          regarding female sexualhealth. They felt that their sexual education
          predominantly focused on male perspectives, neglecting crucial aspects
          of female reproductive health and sexuality. Jasmine from Canmore
          shared, “[I wish I had learnt about] Female anatomy; sex; female
          pleasure; information about IUDs and other forms of contraception.”
        </div>
      </div>

      <div
        class="flex flex-col cursor-pointer py-4 border-b-[1px] border-[#D97803]"
        id="pornm"
      >
        <div class="animate-presense flex items-center justify-between w-full">
          <div class="flex gap-x-8 items-center">
            <p class="font-number-headings text-5xl">7%</p>
            <p class="font-paragraphs">Porn</p>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="7"
            viewBox="0 0 12 7"
            fill="none"
            class="duration-500 ease-in-out transition-all"
          >
            <path
              d="M1 1C1.4 1.4 4.5 4.5 6 6L11 1"
              stroke="#250101"
              stroke-linecap="round"></path>
          </svg>
        </div>
        <div
          class="max-h-0 font-paragraphs text-lg pt-4 transition-all ease-in-out overflow-hidden duration-500"
        >
          Some respondents felt that the topic of porn and its negative as well
          as positive effects on youth was missing and necessary to cover given
          porn’s accessibility in today’s digital age. Noah from Barrie shared,
          “[I wish I had learnt about] “porn and how it affects the brain and
          the performance of your partner”
        </div>
      </div>
    </div>
  </div>
</div>

<script is:inline>
const pornStats = document.getElementById("porn");
const pleasureStats = document.getElementById("pleasure");
const mfshStats = document.getElementById("mfsh");
const gasiStats = document.getElementById("gasi");
const consentStats = document.getElementById("consent");

// mobile
const gasimobile = document.getElementById("gasim");
gasimobile.addEventListener("click", (event) => {
  gasimobile.lastElementChild.style.maxHeight =
    gasimobile.lastElementChild.style.maxHeight === "300vh" ? "0" : "300vh";

  gasimobile.getElementsByTagName("svg")[0].style.rotate =
    gasimobile.getElementsByTagName("svg")[0].style.rotate === "180deg"
      ? "360deg"
      : "180deg";
});

const consentmobile = document.getElementById("consentm");
consentmobile.addEventListener("click", (event) => {
  consentmobile.lastElementChild.style.maxHeight =
    consentmobile.lastElementChild.style.maxHeight === "300vh"
      ? "0"
      : "300vh";

  consentmobile.getElementsByTagName("svg")[0].style.rotate =
    consentmobile.getElementsByTagName("svg")[0].style.rotate === "180deg"
      ? "360deg"
      : "180deg";
});

const pleasuremobile = document.getElementById("pleasurem");
pleasuremobile.addEventListener("click", (event) => {
  pleasuremobile.lastElementChild.style.maxHeight =
    pleasuremobile.lastElementChild.style.maxHeight === "300vh"
      ? "0"
      : "300vh";

  pleasuremobile.getElementsByTagName("svg")[0].style.rotate =
    pleasuremobile.getElementsByTagName("svg")[0].style.rotate === "180deg"
      ? "360deg"
      : "180deg";
});

const mfshmobile = document.getElementById("mfshm");
mfshmobile.addEventListener("click", (event) => {
  mfshmobile.lastElementChild.style.maxHeight =
    mfshmobile.lastElementChild.style.maxHeight === "300vh" ? "0" : "300vh";

  mfshmobile.getElementsByTagName("svg")[0].style.rotate =
    mfshmobile.getElementsByTagName("svg")[0].style.rotate === "180deg"
      ? "360deg"
      : "180deg";
});

const pornmobile = document.getElementById("pornm");
pornmobile.addEventListener("click", (event) => {
  pornmobile.lastElementChild.style.maxHeight =
    pornmobile.lastElementChild.style.maxHeight === "300vh" ? "0" : "300vh";

  pornmobile.getElementsByTagName("svg")[0].style.rotate =
    pornmobile.getElementsByTagName("svg")[0].style.rotate === "180deg"
      ? "360deg"
      : "180deg";
});

// desktop
const title = document.getElementById("title");
const details = document.getElementById("details");

pornStats.addEventListener("mouseover", (event) => {
  title.innerText = "Porn";
  details.innerText =
    "Some respondents felt that the topic of porn and its negative as well as positive effects on youth was missing and necessary to cover given porn’s accessibility in today’s digital age. Noah from Barrie shared, “[I wish I had learnt about] “porn and how it affects the brain and the performance of your partner”";
});
pornStats.addEventListener("mouseout", (event) => {
  title.innerText = "";
  details.innerText = "";
});

pleasureStats.addEventListener("mouseover", (event) => {
  title.innerText = "Pleasure";
  details.innerText =
    "The lack of curriculum addressing pleasure and positive aspects of sex was another evident theme in the responses. Many participants expressed their dissatisfaction with the absence of comprehensive information about the pleasurable aspects of sexual experiences. Lindsay from Moncton shared that she wished she learned “more about sex that is not penetrative between a man and woman. I wish I learned about a female orgasm because I did not understand it (as a woman) until I was 21 years old despite being sexually active since I was 16”.";
});
pleasureStats.addEventListener("mouseout", (event) => {
  title.innerText = "";
  details.innerText = "";
});

mfshStats.addEventListener("mouseover", (event) => {
  title.innerText = "More Female Sexual Health";
  details.innerText =
    "Respondents also pointed out the lack of knowledge shared specifically regarding female sexualhealth. They felt that their sexual education predominantly focused on male perspectives, neglecting crucial aspects of female reproductive health and sexuality. Jasmine from Canmore shared, “[I wish I had learnt about] Female anatomy; sex; female pleasure; information about IUDs and other forms of contraception.”";
});
mfshStats.addEventListener("mouseout", (event) => {
  title.innerText = "";
  details.innerText = "";
});

consentStats.addEventListener("mouseover", (event) => {
  title.innerText = "Consent/Relationships";
  details.innerText =
    "The respondents expressed a desire for a stronger focus on consent, feeling that it had been inadequately addressed in their sexual education. Sapna from Winnipeg shared “I believe the absolute first thing all youth should be taught about is Sex-Ed...a lack of education on consent is massively hurting our society”.";
});
consentStats.addEventListener("mouseout", (event) => {
  title.innerText = "";
  details.innerText = "";
});

gasiStats.addEventListener("mouseover", (event) => {
  title.innerText = "Gender and Sexual Identity";
  details.innerText =
    "Many respondents expressed their belief that the sexual education they received was primarily heteronormative, lacking coverage of diverse identities and failing to address the complexities of gender and sexual orientation. Only 34% of young Canadians recall learningabout sexuality and sexual orientation, and only 19% remember learning about gender identity.";
});
gasiStats.addEventListener("mouseout", (event) => {
  title.innerText = "";
  details.innerText = "";
});
</script>
