<div
  class="section z-10 relative w-full py-20 lg:pb-44 flex flex-col lg:flex-row gap-y-8 px-8 lg:px-[5vw] 3xl:px-[10vw] bg-floral-white"
>
  <div class="flex flex-col gap-y-8 w-full lg:w-1/2">
    <h2
      class="animate-presense text-5xl md:text-[5rem] text-dark font-headings uppercase max-w-[40%] leading-tight"
    >
      report overview
    </h2>
    <div
      class="animate-presense swiper w-full mx-0 lg:!overflow-x-clip lg:!overflow-y-visible"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-4">
            <h4 class="text-maroon font-headings text-2xl lg:text-4xl">
              Theory vs. Practise
            </h4>
            <p class="text-dark font-paragraphs font-medium lg:text-lg">
              Young Canadians felt that Sex-Ed classes provided them with an
              abundance of scientific information but was <span
                class="text-maroon"
              >
                severely lacking in practical knowledge or skills that may be
                used in real life.</span
              ><br /><br />
               Specifically, youth wanted more practical guidance and actionable
              information that would assist them in navigating sexual
              relationships, communication, decision-making, and acquiring the
              necessary skills to engage in safe and enjoyable sexual
              experiences.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-4">
            <h4 class="text-maroon font-headings text-2xl lg:text-4xl">
              Missing in Action
            </h4>
            <p class="text-dark font-paragraphs font-medium lg:text-lg">
              Overwhelmingly, young Canadians had scathing reviews of their
              Sex-Ed experience. The most common topics they wish they had been
              taught were Gender & Sexual Identity, Consent & Relationships,
              Pleasure, Female Sexual Health, and the pros & cons of Porn.
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="flex flex-col gap-y-4">
            <h4 class="text-maroon font-headings text-2xl lg:text-4xl">
              Condoms
            </h4>
            <p class="text-dark font-paragraphs font-medium lg:text-lg">
              The percentage of youth who reported wearing condoms “all the
              time” during sex went from 53% in 2020 to 23% in 2023. Given this
              shocking statistic, it is clear that youth are more susceptible to
              STI & HIV transmission. This research also makes clear that
              Canadian youth see condoms primarily as methods of pregnancy
              prevention.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-4">
            <h4 class="text-maroon font-headings text-2xl lg:text-4xl">
              STI & HIV
            </h4>
            <p class="text-dark font-paragraphs font-medium lg:text-lg">
              Despite recent spikes in STIs and HIV transmission, and young
              people’s higher risk of being infected, 80% of young Canadians do
              not engage in regular STI and HIV testing. Additionally, a
              staggering 27% of youth diagnosed with HIV or an STI did NOT
              receive treatment.
            </p>
          </div>
        </div>
      </div>
      <div class="pt-12 lg:pt-0 flex flex-col items-start gap-y-4">
        <div class="w-full h-[1px] bg-dark"></div>
        <div class="swiper-pagination !relative !text-start"></div>
      </div>
    </div>
  </div>
  <div class="animate-presense w-full flex justify-center items-end lg:pb-24">
    <button
      class="bg-dark bg-opacity-80 px-12 py-4 uppercase font-headings text-lg lg:text-2xl text-floral-white"
    >
      download full report
    </button>
  </div>
</div>
