<div class="min-h-screen w-full flex flex-col justify-center relative">
  <div
    class="flex flex-col gap-y-14 md:gap-y-24 3xl:gap-y-36 px-8 lg:px-[5vw] 3xl:px-[10vw] relative z-10"
  >
    <div class="flex w-full">
      <div class="text-floral-white">
        <p
          class="font-number-headings text-[6rem] md:text-[14rem] 3xl:text-[20rem] leading-none"
        >
          80%
        </p>
        <p class="font-headings text-2xl md:pl-8">
          do not engage in regular STI and HIV testing
        </p>
      </div>
    </div>
    <div class="flex lg:justify-end w-full">
      <div class="text-floral-white md:max-w-[80%] lg:max-w-[40%]">
        <p
          class="font-number-headings text-[6rem] md:text-[14rem] 3xl:text-[20rem] leading-none"
        >
          27%
        </p>
        <p class="font-headings md:pl-8 text-2xl">
          diagnosed with STI(s) and/or HIV reported that they did not receive
          treatment
        </p>
      </div>
    </div>
  </div>

  <div class="absolute top-0 left-0 h-full w-full bg-maroon">
    <img
      src="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,q_auto,w_auto,c_scale/v1/SexLivesReport/vn4s8uqqmxjcffwph3k0"
      alt="Cover"
      class="object-cover h-full w-full mix-blend-screen opacity-60"
    />
  </div>
</div>
