<div
  class="flex justify-center items-center w-full min-h-screen py-20 relative"
>
  <div
    class="flex flex-col lg:flex-row md:items-center md:justify-between gap-y-8 px-8 lg:px-[5vw] 3xl:px-[10vw] relative z-10"
  >
    <h2
      class="font-headings text-3xl md:text-5xl text-floral-white md:max-w-[70%] lg:max-w-[30%]"
    >
      SexEd Filled Some Students with Fear and Shame
    </h2>
    <div
      class="text-floral-white flex flex-col gap-y-12 md:max-w-[70%] lg:max-w-[50%]"
    >
      <div class="flex flex-col gap-y-4">
        <p class="text-lg font-medium md:text-2xl">
          “Being shamed for having sex and being told if you get raped you won’t
          get pregnant cause god knows you don’t want that baby.”
        </p>
        <p class="text-sm">Jamie*, Dieppe New Brunswick</p>
      </div>
      <div class="flex flex-col gap-y-4">
        <p class="text-lg font-medium md:text-2xl">
          “Being shamed for having sex and being told if you get raped you won’t
          get pregnant cause god knows you don’t want that baby.”
        </p>
        <p class="text-sm">Jamie*, Dieppe New Brunswick</p>
      </div>
      <div class="flex flex-col gap-y-4">
        <p class="text-lg font-medium md:text-2xl">
          “Being shamed for having sex and being told if you get raped you won’t
          get pregnant cause god knows you don’t want that baby.”
        </p>
        <p class="text-sm">Jamie*, Dieppe New Brunswick</p>
      </div>
    </div>
  </div>
  <div class="absolute top-0 left-0 h-full w-full bg-[#250101]">
    <img
      src="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,w_auto,q_auto,c_scale/v1/SexLivesReport/xr4s2laiqc8fw81lv4k6"
      alt="Cover"
      class="object-cover h-full w-full mix-blend-screen opacity-50"
    />
  </div>
</div>
