<div
  class="w-full py-20 relative min-h-screen flex justify-center items-center"
>
  <div
    class="section flex flex-col gap-y-8 px-8 lg:px-[5vw] 3xl:px-[10vw] relative z-10"
  >
    <h2
      class="animate-presense text-5xl md:text-[5rem] text-floral-white font-headings uppercase max-w-[50%] leading-tight"
    >
      theory vs. practice
    </h2>
    <div
      class="animate-presense flex flex-col md:flex-row md:items-center gap-y-8 gap-x-12 lg:max-w-[60%]"
    >
      <div class="flex gap-x-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="73"
          height="203"
          viewBox="0 0 73 203"
          fill="none"
        >
          <g opacity="1">
            <path
              d="M57.1657 20.4674C57.1657 31.7697 48.0021 40.9332 36.6983 40.9332C25.3945 40.9332 16.231 31.7697 16.231 20.4674C16.231 9.1639 25.3945 0 36.6983 0C48.0021 0 57.1657 9.16352 57.1657 20.4674Z"
              fill="white"></path>
            <path
              d="M72.9406 109.795L68.6771 67.5828C67.3982 56.2836 58.0174 47.5422 46.5057 47.5422H27.1047C15.8055 47.5422 6.21214 56.0692 4.93336 67.5828L0.455534 109.795C0.0287278 113.207 1.94862 116.191 5.1458 117.47L15.5927 121.734C16.8716 122.16 17.7252 123.439 17.9379 124.931L23.4805 195.924C23.6932 199.761 27.1046 202.747 30.9431 202.747H42.6691C46.5058 202.747 49.7045 199.763 50.1316 195.924L55.4599 124.718C55.6726 123.225 56.5262 122.16 57.8051 121.52L68.252 117.257C71.4493 116.189 73.3679 112.992 72.9408 109.793L72.9406 109.795Z"
              fill="white"></path>
          </g>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="73"
          height="203"
          viewBox="0 0 73 203"
          fill="none"
        >
          <g opacity="0.4">
            <path
              d="M57.1657 20.4674C57.1657 31.7697 48.0021 40.9332 36.6983 40.9332C25.3945 40.9332 16.231 31.7697 16.231 20.4674C16.231 9.1639 25.3945 0 36.6983 0C48.0021 0 57.1657 9.16352 57.1657 20.4674Z"
              fill="white"></path>
            <path
              d="M72.9406 109.795L68.6771 67.5828C67.3982 56.2836 58.0174 47.5422 46.5057 47.5422H27.1047C15.8055 47.5422 6.21214 56.0692 4.93336 67.5828L0.455534 109.795C0.0287278 113.207 1.94862 116.191 5.1458 117.47L15.5927 121.734C16.8716 122.16 17.7252 123.439 17.9379 124.931L23.4805 195.924C23.6932 199.761 27.1046 202.747 30.9431 202.747H42.6691C46.5058 202.747 49.7045 199.763 50.1316 195.924L55.4599 124.718C55.6726 123.225 56.5262 122.16 57.8051 121.52L68.252 117.257C71.4493 116.189 73.3679 112.992 72.9408 109.793L72.9406 109.795Z"
              fill="white"></path>
          </g>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="73"
          height="203"
          viewBox="0 0 73 203"
          fill="none"
        >
          <g opacity="0.4">
            <path
              d="M57.1657 20.4674C57.1657 31.7697 48.0021 40.9332 36.6983 40.9332C25.3945 40.9332 16.231 31.7697 16.231 20.4674C16.231 9.1639 25.3945 0 36.6983 0C48.0021 0 57.1657 9.16352 57.1657 20.4674Z"
              fill="white"></path>
            <path
              d="M72.9406 109.795L68.6771 67.5828C67.3982 56.2836 58.0174 47.5422 46.5057 47.5422H27.1047C15.8055 47.5422 6.21214 56.0692 4.93336 67.5828L0.455534 109.795C0.0287278 113.207 1.94862 116.191 5.1458 117.47L15.5927 121.734C16.8716 122.16 17.7252 123.439 17.9379 124.931L23.4805 195.924C23.6932 199.761 27.1046 202.747 30.9431 202.747H42.6691C46.5058 202.747 49.7045 199.763 50.1316 195.924L55.4599 124.718C55.6726 123.225 56.5262 122.16 57.8051 121.52L68.252 117.257C71.4493 116.189 73.3679 112.992 72.9408 109.793L72.9406 109.795Z"
              fill="white"></path>
          </g>
        </svg>
      </div>
      <div class="flex flex-col text-floral-white">
        <p class="font-number-headings text-[6rem] leading-none">1 in 3</p>
        <p class="font-paragraphs lg:max-w-[60%]">
          young Canadians felt that Sex-Ed made them feel scared to have sex.
        </p>
      </div>
    </div>
    <p
      class="animate-presense font-headings text-3xl text-floral-white lg:max-w-[60%]"
    >
      Young Canadians felt that Sex-Ed classes provided them with an abundance
      of scientific information but was
      <span class="text-[#FCB001]">
        severely lacking in practical knowledge or skills that may be used in
        real life.
      </span>
    </p>
    <p
      class="animate-presense text-floral-white text-lg font-paragraphs md:max-w-[60%]"
    >
      Youth wanted more practical guidance and actionable information that would
      assist them in navigating sexual relationships, communication,
      decision-making, and acquiring the necessary skills to engage in safe and
      enjoyable sexual experiences.
    </p>
  </div>

  <div class="absolute top-0 left-0 h-full w-full bg-[#250101]">
    <img
      src="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,w_auto,q_auto,c_scale/v1/SexLivesReport/w8sd6xm4qslt9azdsusl"
      alt="Cover"
      class="object-cover h-full w-full mix-blend-screen opacity-30"
    />
  </div>
</div>
