---
const { title } = Astro.props;

// fonts
import "@fontsource/lexend";
import "@fontsource/libre-franklin/800.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="https://sexlivesreport.ca" />

    <!-- Google Tag Manager -->
    <script async>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MM9VV38V");
    </script>
    <!-- End Google Tag Manager -->

    <meta
      name="description"
      content="LetsStopAIDS’ Sex Lives Report looks at the state of sex, STIs, and sexuality among youth in Canada. The 2023 report found that youth still have questions; many students reported feeling unprepared to navigate topics such as relationships, consent, and HIV which ultimately suggests that there is a gap within the current Canadian Sex-Ed system."
    />
    <meta
      name="keywords"
      content="sexuality,sex,sex-ed,report,Canada,Canadian,young,youth,HIV,STI,STD,Condoms,sexual experience,consent,relationships,porn,treatment"
    />

    <meta property="og:title" content="Sex Lives Report 2023" />
    <meta property="og:site_name" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,q_auto/v1/SexLivesReport/gwm5kxitvyjm95zz0hob"
    />
    <meta
      property="og:description"
      content="LetsStopAIDS’ Sex Lives Report looks at the state of sex, STIs, and sexuality among youth in Canada. The 2023 report found that youth still have questions; many students reported feeling unprepared to navigate topics such as relationships, consent, and HIV which ultimately suggests that there is a gap within the current Canadian Sex-Ed system."
    />

    <meta name="twitter:card" content="website" />
    <meta property="twitter:card" content="app" />

    <meta name="twitter:title" content="Sex Lives Report 2023" />
    <meta property="twitter:title" content="Sex Lives Report 2023" />

    <meta
      name="twitter:description"
      content="LetsStopAIDS’ Sex Lives Report looks at the state of sex, STIs, and sexuality among youth in Canada. The 2023 report found that youth still have questions; many students reported feeling unprepared to navigate topics such as relationships, consent, and HIV which ultimately suggests that there is a gap within the current Canadian Sex-Ed system."
    />
    <meta
      property="twitter:description"
      content="LetsStopAIDS’ Sex Lives Report looks at the state of sex, STIs, and sexuality among youth in Canada. The 2023 report found that youth still have questions; many students reported feeling unprepared to navigate topics such as relationships, consent, and HIV which ultimately suggests that there is a gap within the current Canadian Sex-Ed system."
    />

    <meta
      name="twitter:image"
      content="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,q_auto/v1/SexLivesReport/gwm5kxitvyjm95zz0hob"
    />
    <meta
      property="twitter:image"
      content="https://res.cloudinary.com/dsvly11gz/image/upload/f_auto,q_auto/v1/SexLivesReport/gwm5kxitvyjm95zz0hob"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>
  <body class="overflow-x-hidden w-screen">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src={`https://www.googletagmanager.com/ns.html?id=GTM-MM9VV38V`}
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <slot />
    <script src="lite-youtube-embed/src/lite-yt-embed.js"></script>
  </body>
</html>
